:root {
  /* font */
  --font-sans: 'Noto Sans', 'Noto Sans JP', 'Hiragino Kaku Gothic ProN', meiryo, sans-serif;
  --font-sans-display: 'Noto Sans Display', 'Noto Sans JP', sans-serif;
  --base-text-unit: 16;
  --rem-ratio: calc(1rem / var(--base-text-unit));
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --leading-initial: 1;
  --leading-1-1: 1.1;
  --leading-1-2: 1.2;
  --leading-tight: 1.3;
  --leading-1-4: 1.4;
  --leading-snug: 1.5;
  --leading-normal: 1.7;
  --leading-relaxed: 1.8;
  --leading-loose: 2;
  --tracking-tightest: -0.005em;
  --tracking-tighter: -0.01em;
  --tracking-negative-tight: -0.02em;
  --tracking-tight: 0.02em;
  --tracking-tigher: 0.03em;
  --tracking-normal: 0.05em;
  --tracking-medium: 0.07em;
  --tracking-loose: 0.1em;
  --tracking-relaxed: 0.12em;

  /* size */
  --layout-width-min: 375;
  --layout-width-max: 1440;
  --layout-width-sp: 750;
  --layout-width-inner: 690;
  --fluid-ratio-min: calc(1 / var(--layout-width-min) * 100dvi);
  --fluid-ratio-max: calc(1 / var(--layout-width-max) * 100dvi);
  --aspect-video: 16/9;
  --aspect-thumbnail: 1.91/1;
  --rounded-xs: 2px;
  --rounded-parts: 3px;
  --rounded-s: 4px;
  --rounded-heading: 5px;
  --rounded-m: 8px;
  --rounded-sl: 10px;
  --rounded-12: 12px;
  --rounded-frame-s: 15px;
  --rounded-18: 18px;
  --rounded-frame-l: 20px;
  --rounded-23: 23px;
  --rounded-l: 30px;
  --rounded-32: 32px;
  --rounded-45: 45px;
  --rounded-56: 56px;
  --rounded-full: 100%;

  /* color */
  --color-grayscale-0: #fff;
  --color-grayscale-100: #fffdd2;
  --color-grayscale-200: #f7df7f;
  --color-grayscale-300: #d2ecff;
  --color-grayscale-400: #52a1db;
  --color-grayscale-500: #005ea4;
  --color-grayscale-700: #cf2ca0;
  --color-grayscale-800: #494949;
  --color-grayscale-900: #353535;
  --color-grayscale-1000: #000;
  --background-base: var(--color-grayscale-0);
  --font-base: var(--color-grayscale-900);
  --underline-base: color-mix(in srgb, currentcolor, transparent 40%);
  --contact-button: var(--color-grayscale-200);
  --shiryou-button: var(--color-grayscale-700);
  --common-blue: var(--color-grayscale-500);
  --common-yellow: var(--color-grayscale-200);
  --background-yellow: var(--color-grayscale-100);
  --plans-gray: var(--color-grayscale-800);
  --parts: var(--color-grayscale-300);
  --shine: var(--color-grayscale-400);
  --shadow-freeshiryou-button: 0 6px 6px 0 rgb(7 66 110 / 100%);
  --shadow-kokuchi-freeshiryou-button-base: 0 3px 3.5px 0 rgb(0 0 0 / 25%);
  --shadow-kokuchi-freeshiryou-button-cover: 0 6px 6px 0 rgb(195 184 186 / 100%);
  --shadow-freeshiryou-button-pink: 0 2px 2px 0 rgb(0 0 0 / 25%);
  --shadow-kokuchi-soudan-button: 0 3px 2px 0 rgb(0 0 0 / 25%);

  /* z-index */
  --back-z-index: -1;
  --default-z-index: 1;
  --front-z-index: 2;
  --menu-z-index: 3;

  /* motion time */
  --speed-quick: 0.3s;
  --speed-normal: 0.5s;
  --speed-slow: 1s;
  --speed-over-slow: 2s;
}

* {
  box-sizing: border-box;
  min-inline-size: 0;
  border-width: 0;
  border-style: solid;
}

:where(:root) {
  background-color: var(--background-base);
  color: var(--font-base);
  font-family: var(--font-sans);
  font-style: unset;
  font-size: 100%;
  font-weight: var(--font-bold);
  font-feature-settings: 'pkna';
  text-align: start;
  letter-spacing: var(--tracking-normal);
  line-height: var(--leading-normal);
  text-spacing-trim: trim-start;
  word-break: initial;
  line-break: strict;
  overflow-wrap: anywhere;
  hyphens: auto;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

:where(body) {
  min-block-size: 100svb;
  margin: unset;
}

:where(h1, h2, h3, h4, h5, h6) {
  margin-block: unset;
  font-size: unset;
}

:where(:any-link) {
  color: unset;
  text-decoration-line: none;
  text-decoration-thickness: from-font;
  text-decoration-color: var(--underline-base);
  text-underline-offset: 0.25em;
}

::file-selector-button,
:where(button, label[for], select, [role='tab'], [role='button']) {
  cursor: pointer;
}

::file-selector-button,
:where(button) {
  inline-size: fit-content;
  touch-action: manipulation;
}

::file-selector-button,
:where(button, input, select, textarea) {
  padding: unset;
  border-width: 1px;
  border-color: transparent;
  border-radius: unset;
  background-color: unset;
  color: unset;
  font: unset;
  vertical-align: middle;
  letter-spacing: unset;
  text-align: unset;
  text-transform: unset;
  appearance: unset;
}

:where(ul, ol) {
  padding-inline-start: unset;
  list-style-type: '';
}

:where(p, blockquote, figure, pre, address, ul, ol, dl) {
  margin-block: unset;
}

:where(figure) {
  margin-inline: unset;
}

:where(img, video, canvas, audio, iframe, embed, object) {
  display: block flow;
  vertical-align: middle;
}

:where(img, svg, video) {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
}

:where(dialog) {
  overflow: unset;
  inline-size: unset;
  block-size: unset;
  max-inline-size: unset;
  max-block-size: unset;
  padding: unset;
  background-color: unset;
  color: unset;
}

:where(em) {
  font-style: normal;
}

:where(fieldset) {
  margin: unset;
  padding: unset;
  border: unset;
}

:where(summary) {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

.js-fade,
.js-fadeup,
.js-fadein {
  opacity: 0;
}

.js-scrollin {
  opacity: 0;
  translate: 0 15px;
}

.js-fade.is-inview {
  animation: fade 1s linear forwards;
}

.js-fadeup.is-inview {
  animation: fadeup 1s ease-out forwards;
}

.js-fadein.is-inview {
  animation: fadein 1s ease-out forwards;
}

.js-scrollin.is-inview {
  opacity: 1;
  translate: 0;
  transition:
    opacity 0.5s ease,
    translate 0.5s ease;
}

/* hero */
.l-section-hero__disease.is-inview {
  translate: -50%;
}

.l-section-kokuchi__heading-wrapper.is-inview .l-section-kokuchi__pop {
  opacity: 1;
  transform: scale(1);
  transition:
    opacity 0.4s ease 0.3s,
    transform 0.4s cubic-bezier(0, 0.89, 0.63, 1.47) 0.3s;
}

.l-section-bottom-message__heading.is-inview .l-section-bottom-message__heading-bg {
  scale: 1;
  transition: scale 1s ease;
}

.l-section-bottom-message__heading.is-inview .l-section-bottom-message__heading-text {
  clip-path: inset(0);
  transition: clip-path 0.6s ease-out 0.8s;
}

.c-points-list__info--animate {
  animation: shine 3.8s linear forwards;
}

@media screen and (max-width: 768px) {
  .l-section-hero__disease.is-inview .c-hero-disease-list:nth-of-type(1) {
    transition-delay: 3s;
  }

  .l-section-hero__disease.is-inview .c-hero-disease-list:nth-of-type(2) {
    transition-delay: 3.3s;
  }

  .l-section-hero__disease.is-inview .c-hero-disease-list:nth-of-type(3) {
    transition-delay: 3.6s;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    translate: 0 -30px;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    translate: 0;
  }
}

@keyframes fadeup {
  0% {
    opacity: 0;
    translate: 0 50px;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    translate: 0;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }

  10% {
    opacity: 0;
  }

  18% {
    opacity: 1;
  }

  26% {
    opacity: 0;
  }

  34% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes shine {
  0% {
    background-position-x: 50%;
  }

  50% {
    background-position-x: 0%;
  }

  100% {
    background-position-x: -50%;
  }
}

/* stylelint-disable selector-max-id, declaration-no-important */
.no-sp {
  display: none !important;
}

.no-pc {
  display: grid !important;
}

@media only screen and (min-width: 768px) {
  .no-sp {
    display: grid !important;
  }

  .no-pc {
    display: none !important;
  }
}
/* stylelint-enable selector-max-id, declaration-no-important */

/* layout */
.wrapper {
  overflow: hidden;
  opacity: 0;
}

.wrapper--loaded {
  opacity: 1;
  transition: opacity 0.5s ease;
}

/* header */
.header {
  z-index: var(--menu-z-index);
  position: fixed;
  top: 0;
  inset-inline-start: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  inline-size: 100%;
  padding: 18px 14px;
  background-color: var(--background-base);
}

.header__logo {
  inline-size: 153px;
}

.header__logo-img {
  inline-size: 100%;
}

.header__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 137px;
  padding-block: 7px;
  border-radius: var(--rounded-18);
  background-color: var(--contact-button);
  color: var(--color-grayscale-0);
  font-size: calc(12 * var(--rem-ratio));
  font-family: var(--font-sans);
  font-weight: var(--font-bold);
  line-height: var(--leading-tight);
  transition: scale 0.2s ease;
}

/* float */
.l-sticky-float {
  z-index: var(--front-z-index);
  position: fixed;
  inset-block-end: 0;
  inset-inline-end: calc(27 / var(--layout-width-sp) * 100%);
  inline-size: calc(222 / var(--layout-width-sp) * 100%);
  aspect-ratio: 1/1;
  margin-block-end: calc(27 / var(--layout-width-sp) * 100%);
  background-color: var(--shiryou-button);
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.5s ease,
    visibility 0.5s ease,
    scale 0.2s ease;
}

.l-sticky-float--show {
  opacity: 1;
  visibility: visible;
}

.l-sticky-float__link {
  display: block;
}

.l-sticky-float__inner {
  margin-block-start: calc((60 / 222) * 100%);
}

.l-sticky-float__heading {
  font-size: calc(20 * var(--rem-ratio));
  text-align: center;
  color: var(--background-base);
}

.l-sticky-float__icon {
  inline-size: calc((84 / 222) * 100%);
  margin: auto;
}

.l-sticky-float__pop {
  position: absolute;
  inset-block-start: 0;
  inset-inline: 0;
  inline-size: calc((161 / 222) * 100%);
  margin: auto;
}

/* hero */
.l-section-hero {
  z-index: var(--default-z-index);
  position: relative;
  margin-block-start: 49px;
}

.l-section-hero__inner {
  z-index: var(--default-z-index);
  position: relative;
  padding-block-end: calc(24 / var(--layout-width-sp) * 100%);
}

.l-section-hero__inner::before {
  content: '';
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  display: block;
  inline-size: 100vw;
  block-size: 100%;
  background: url(images/hero-bg-sp.jpg) no-repeat center / cover;
}

.l-section-hero__content {
  position: relative;
  inline-size: 100%;
  margin: auto;
}

.l-section-hero__title {
  z-index: var(--front-z-index);
  position: absolute;
  top: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  margin-block-start: calc(60 / var(--layout-width-sp) * 100%);
}

.l-section-hero__title-pop {
  z-index: var(--default-z-index);
  position: relative;
  inline-size: calc(438 / var(--layout-width-sp) * 100%);
  margin-block-start: 11%;
  margin-inline-start: 20%;
  scale: 1.5;
}

.l-section-hero__title-pop--loaded {
  margin-block-start: 0;
  margin-inline-start: calc(32 / var(--layout-width-sp) * 100%);
  scale: 1;
  transition:
    margin 0.9s cubic-bezier(0.65, 0.05, 0.36, 1),
    scale 0.9s 0.9s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition-delay: 1.2s;
}

.l-section-hero__title-pop-elm {
  display: block;
  opacity: 0;
  translate: 0 15px;
}

.l-section-hero__title-pop-elm-img {
  inline-size: 100%;
}

.l-section-hero__title-pop-elm--loaded {
  opacity: 1;
  translate: 0 0;
  transition:
    opacity 0.4s ease 0.3s,
    translate 0.4s cubic-bezier(0, 0.89, 0.63, 1.47) 0.3s;
}

.l-section-hero__title-main {
  position: relative;
  margin-block-start: calc(-73 / var(--layout-width-sp) * 100%);
  opacity: 0;
  scale: 0.7;
}

.l-section-hero__title-main--loaded {
  opacity: 1;
  scale: 1;
  transition:
    opacity 0.9s cubic-bezier(0.65, 0.05, 0.36, 1),
    scale 0.9s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition-delay: 1.2s;
}

.l-section-hero__title-main-word {
  display: block;
  inline-size: calc(680 / var(--layout-width-sp) * 100%);
  margin: auto;
}

.l-section-hero__title-main-flash {
  position: absolute;
  top: 0;
  display: block;
  opacity: 0;
}

.l-section-hero__title-main-flash--top {
  inset-inline-end: calc(116 / var(--layout-width-sp) * 100%);
  inline-size: calc(27 / var(--layout-width-sp) * 100%);
  margin-block-start: calc(27 / var(--layout-width-sp) * 100%);
}

.l-section-hero__title-main-flash--top--loaded {
  opacity: 1;
  transition: opacity 0s steps(1) 2.1s;
}

.l-section-hero__title-main-flash--center {
  inset-inline-end: calc(75 / var(--layout-width-sp) * 100%);
  inline-size: calc(55 / var(--layout-width-sp) * 100%);
  margin-block-start: calc(33 / var(--layout-width-sp) * 100%);
}

.l-section-hero__title-main-flash--center--loaded {
  opacity: 1;
  transition: opacity 0s steps(1) 2.4s;
}

.l-section-hero__title-main-flash--bottom {
  inset-inline-end: calc(74 / var(--layout-width-sp) * 100%);
  inline-size: calc(46 / var(--layout-width-sp) * 100%);
  margin-block-start: calc(67 / var(--layout-width-sp) * 100%);
}

.l-section-hero__title-main-flash--bottom--loaded {
  opacity: 1;
  transition: opacity 0s steps(1) 2.7s;
}

.l-section-hero__title-main-flash-img {
  inline-size: 100%;
}

.l-section-hero__image {
  z-index: var(--default-z-index);
  position: relative;
  inline-size: calc(610 / var(--layout-width-sp) * 100%);
  margin-inline-start: calc(90 / var(--layout-width-sp) * 100%);
  padding-block-start: calc(270 / var(--layout-width-sp) * 100%);
}

.l-section-hero__disease {
  z-index: var(--front-z-index);
  position: absolute;
  inset-block-end: 0;
  inset-inline-start: 50%;
  inline-size: calc(var(--layout-width-inner) / var(--layout-width-sp) * 100%);
  margin: auto;
  padding-block: 12px;
  background-color: var(--background-base);
  border: 3px solid var(--common-blue);
  border-radius: var(--rounded-frame-s);
  box-shadow: 3px 4px 4px 0 rgb(0 0 0 / 25%);
  translate: -50%;
}

.l-section-hero__disease-heading {
  inline-size: calc(388 / var(--layout-width-inner) * 100%);
  margin: auto;
}

.l-section-hero__disease-heading::after {
  content: '';
  display: block;
  inline-size: 100%;
  block-size: 2px;
  margin-block-start: 4px;
  background-color: var(--common-blue);
  border-radius: var(--rounded-heading);
}

.l-section-hero__disease-heading-img {
  inline-size: 100%;
}

.l-section-hero__disease-list-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(28 / var(--layout-width-sp) * 100%);
  margin-block-start: 14px;
}

.l-section-hero__button {
  padding-block: 15px 18px;
  background-color: var(--common-blue);
}

/* top message */
.l-section-topmessage {
  z-index: var(--default-z-index);
  position: relative;
  inline-size: calc(473 / var(--layout-width-sp) * 100%);
  margin: auto;
  padding-block-start: calc(78px / 2);
}

/* kokuchi */
.l-section-kokuchi {
  z-index: var(--default-z-index);
  position: relative;
  padding-block: 48px 55px;
  background-color: var(--background-yellow);
}

.l-section-kokuchi__heading-wrapper {
  z-index: var(--front-z-index);
  position: relative;
}

.l-section-kokuchi__headline {
  z-index: var(--default-z-index);
  position: relative;
  inline-size: calc(536 / var(--layout-width-sp) * 100%);
  margin: calc(30 / var(--layout-width-sp) * 100%) auto 0;
}

.l-section-kokuchi__pop {
  z-index: var(--front-z-index);
  position: absolute;
  top: 0;
  inset-inline-start: calc((54 / var(--layout-width-sp)) * 100%);
  inline-size: calc((128 / var(--layout-width-sp)) * 100%);
  margin-block-start: calc((62 / var(--layout-width-sp)) * 100%);
  opacity: 0;
  transform: scale(0.5);
  transform-origin: right bottom;
}

.l-section-kokuchi__pop-img {
  inline-size: 100%;
}

.l-section-kokuchi__qa-wrapper {
  z-index: var(--default-z-index);
  position: relative;
  inline-size: calc(var(--layout-width-inner) / var(--layout-width-sp) * 100%);
  margin: 17px auto 0;
}

.l-section-kokuchi__qa {
  padding: 36px 0 30px;
  background-color: var(--background-base);
  border: 3px solid var(--common-blue);
  border-radius: var(--rounded-frame-l);
}

.l-section-kokuchi__attention {
  margin-block-start: 9px;
  font-family: var(--font-sans-display);
  font-weight: var(--font-normal);
  font-size: calc(9 * var(--rem-ratio));
  line-height: var(--leading-1-4);
}

/* points */
.l-section-points {
  z-index: var(--default-z-index);
  position: relative;
  padding-block: 40px;
}

.l-section-points__inner {
  inline-size: calc(var(--layout-width-inner) / var(--layout-width-sp) * 100%);
  margin: 14px auto 0;
}

.l-section-points__attention {
  margin-block-start: 14px;
  font-family: var(--font-sans-display);
  font-size: calc(9 * var(--rem-ratio));
  font-weight: var(--font-normal);
}

.l-section-plans__list-wrapper {
  margin: 5px auto 0;
}

.l-section-plans__slide {
  inline-size: calc(692 / var(--layout-width-sp) * 100%);
  margin: auto;
}

.l-section-plans__slide-img {
  inline-size: 100%;
}

/* swiper */
.swiper-parts-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  inline-size: calc(381 / var(--layout-width-sp) * 100%);
  margin: 20px auto 0;
  padding-bottom: 3px;
}

.js-swiper-pagination {
  display: flex;
  justify-content: center;
  position: static;
}

.js-swiper-bullet {
  display: block;
  inline-size: calc((20 / var(--layout-width-sp)) * 100vw);
  aspect-ratio: 1/1;
  background-color: var(--parts);
  border-radius: var(--rounded-full);
  opacity: 1;
}

.js-swiper-bullet:nth-of-type(2) {
  margin: 0 10px;
}

.js-swiper-bullet-active {
  background-color: var(--common-blue);
}

.swiper-button-next,
.swiper-button-prev {
  position: static;
  width: auto;
  height: auto;
  inline-size: calc((35 / 381) * 100%);
  margin: 0;
  transition:
    scale 0.2s ease,
    transform 0.2s ease;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: none;
}

/* plans */
.l-section-plans {
  z-index: var(--default-z-index);
  position: relative;
  margin-block-start: calc(98px / 2);
}

/* bottom message */
.l-section-bottom-message {
  z-index: var(--default-z-index);
  position: relative;
  margin-block-start: 40px;
}

.l-section-bottom-message__heading {
  z-index: var(--default-z-index);
  position: relative;
}

.l-section-bottom-message__heading-bg {
  z-index: var(--default-z-index);
  position: relative;
  inline-size: calc(613 / var(--layout-width-sp) * 100%);
  margin: auto;
  scale: 0;
}

.l-section-bottom-message__heading-text {
  z-index: var(--front-z-index);
  position: absolute;
  top: 50%;
  inset-inline-start: 50%;
  inline-size: calc(446 / var(--layout-width-sp) * 100%);
  clip-path: inset(0 100% 0 0);
  translate: -50% -50%;
}

.l-section-bottom-message__heading-text-img {
  inline-size: 100%;
}

.l-section-bottom-message__image {
  z-index: var(--front-z-index);
  position: relative;
  inline-size: calc(392 / var(--layout-width-sp) * 100%);
  margin: calc(-84 / var(--layout-width-sp) * 100%) auto 0;
}

/* qa */
.l-section-qa {
  z-index: var(--default-z-index);
  position: relative;
  margin-block-start: 50px;
}

/* shiryou */
.l-section-shiryou {
  z-index: var(--default-z-index);
  position: relative;
  margin-block-start: 50px;
}

/* footer */
.footer {
  z-index: var(--default-z-index);
  position: relative;
  padding-bottom: 10px;
  margin-block-start: 50px;
}

.footer__inner {
  padding: 46px 0 20px;
  background-color: var(--common-blue);
}

.footer__tel-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: calc(36 / var(--layout-width-inner) * 100%);
  inline-size: min(calc(557 / var(--layout-width-inner) * 100%), 366px);
  padding-block: 18px 10px;
  margin: auto;
  background-color: var(--background-base);
  box-shadow:
    inset -3.09px -3.09px 4.11px 0 rgb(200 200 199 / 100%),
    0 4.11px 4.11px 0 rgb(0 0 0 / 50%);
  border-radius: var(--rounded-sl);
}

.footer__tel-button-icon {
  inline-size: calc((40 / 557) * 100%);
  margin-block-start: calc((10 / 557) * 100%);
}

.footer__tel-button-info {
  text-align: center;
}

.footer__tel-button-info-num {
  font-weight: var(--font-bold);
  font-size: calc(24 * var(--rem-ratio));
  color: var(--common-blue);
  letter-spacing: var(--tracking-normal);
  line-height: var(--leading-tight);
}

.footer__tel-button-info-time {
  font-weight: var(--font-normal);
  font-size: calc(16 * var(--rem-ratio));
  color: var(--common-blue);
  letter-spacing: var(--tracking-tight);
}

.footer__textarea {
  inline-size: min(100%, calc(360px * 1.4));
  margin: auto;
}

.footer__links {
  margin-block-start: 35px;
  padding: 0 20px;
}

.footer__links-list-item {
  font-family: var(--font-sans-display);
  font-weight: var(--font-normal);
  font-size: calc(13 * var(--rem-ratio));
  color: var(--color-grayscale-0);
  line-height: var(--leading-1-4);
  letter-spacing: var(--tracking-tighter);
}

.footer__links-list-item + * {
  margin-block-start: 18px;
}

.footer__links-list-item-text-link {
  display: inline-block;
  border-bottom: 1px solid var(--color-grayscale-0);
  transition: border-bottom 0.2s ease;
}

.footer__textlink {
  display: inline-block;
  margin-block-start: 47px;
  margin-inline-start: 20px;
  border-bottom: 1px solid var(--color-grayscale-0);
  font-family: var(--font-sans-display);
  font-weight: var(--font-normal);
  font-size: calc(11 * var(--rem-ratio));
  color: var(--color-grayscale-0);
  line-height: var(--leading-1-1);
  transition: border-bottom 0.2s ease;
}

.footer__num {
  margin-inline-start: 20px;
  font-family: var(--font-sans-display);
  font-weight: var(--font-normal);
  font-size: calc(11 * var(--rem-ratio));
  color: var(--color-grayscale-0);
}

.footer__copyright {
  margin-block-start: 10px;
  font-family: var(--font-sans-display);
  font-weight: var(--font-normal);
  font-size: calc(11 * var(--rem-ratio));
  color: var(--shiryou-button);
  line-height: var(--leading-tight);
  text-align: center;
}

@media screen and (min-width: 768px) {
  /* header */
  .header {
    padding: calc(20px / 2) calc(30 / var(--layout-width-max) * 100%);
  }

  .header__logo {
    inline-size: calc(456px / 2);
  }

  .header__shiryou-button {
    inline-size: calc(243px / 2);
  }

  .header__shiryou-button-link {
    display: block;
    inline-size: 100%;
    padding-block: 5.5px;
    background-color: var(--shiryou-button);
    border-radius: var(--rounded-frame-s);
    font-size: calc(11 * var(--rem-ratio));
    text-align: center;
    color: var(--background-base);
    transition: scale 0.2s ease;
  }

  .header__shiryou-button-link-small {
    font-size: calc(9 * var(--rem-ratio));
  }

  /* sticky */
  .l-sticky-float {
    inset-inline-end: calc(24 / var(--layout-width-max) * 100%);
    inline-size: min(calc(336 / var(--layout-width-max) * 100%), 258px);
    aspect-ratio: auto;
    margin-block-end: calc(24 / var(--layout-width-max) * 100%);
    border-radius: min(var(--rounded-l), var(--rounded-23));
  }

  .l-sticky-float__link {
    padding-block: calc((28 / 336) * 100%);
  }

  .l-sticky-float__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .l-sticky-float__icon {
    order: 1;
    inline-size: calc((49 / 336) * 100%);
    margin: 0;
  }

  .l-sticky-float__heading--pc {
    order: 3;
    margin-inline: calc((16 / 336) * 100%) calc((12 / 336) * 100%);
  }

  .l-sticky-float__heading {
    font-size: min(calc(23 / var(--layout-width-max) * 100vw), calc(17 * var(--rem-ratio)));
  }

  .l-sticky-float__heading-small {
    font-size: min(calc(17 / var(--layout-width-max) * 100vw), calc(13 * var(--rem-ratio)));
  }

  .l-sticky-float__arrow {
    order: 3;
    inline-size: calc((11 / 336) * 100%);
  }

  .l-sticky-float__pop {
    inset-inline-start: calc((2 / 336) * 100%);
    inline-size: calc((113 / 336) * 100%);
    margin: 0;
    margin-block-start: calc((-20 / 336) * 100%);
  }

  /* hero */
  .l-section-hero {
    margin-block-start: 49.7px;
  }

  .l-section-hero__inner {
    padding-block-end: 0;
  }

  .l-section-hero__inner::before {
    background-image: url(images/hero-bg-pc.jpg);
  }

  .l-section-hero__title {
    inset-inline-start: calc(217 / var(--layout-width-max) * 100%);
    inline-size: calc(572 / var(--layout-width-max) * 100%);
    margin-block-start: calc(77 / var(--layout-width-max) * 100%);
  }

  .l-section-hero__title-pop {
    inline-size: calc((369 / 572) * 100%);
    margin-inline-start: 17%;
  }

  .l-section-hero__title-pop--loaded {
    margin-inline-start: calc((-7 / 572) * 100%);
  }

  .l-section-hero__title-main-word {
    inline-size: 100%;
  }

  .l-section-hero__title-main-flash--top {
    inline-size: calc((23 / 572) * 100%);
    inset-inline-end: calc((69 / 572) * 100%);
    margin-block-start: calc((20 / 572) * 100%);
  }

  .l-section-hero__title-main-flash--center {
    inline-size: calc((47 / 572) * 100%);
    inset-inline-end: calc((34 / 572) * 100%);
    margin-block-start: calc((28 / 572) * 100%);
  }

  .l-section-hero__title-main-flash--bottom {
    inline-size: calc((38 / 572) * 100%);
    inset-inline-end: calc((34 / 572) * 100%);
    margin-block-start: calc((57 / 572) * 100%);
  }

  .l-section-hero__image {
    z-index: var(--front-z-index);
    inline-size: calc(505 / var(--layout-width-max) * 100%);
    margin-inline-start: calc(798 / var(--layout-width-max) * 100%);
    padding-block-start: calc(66 / var(--layout-width-max) * 100%);
  }

  .l-section-hero__disease {
    z-index: var(--default-z-index);
    inset-inline-start: calc(217 / var(--layout-width-max) * 100%);
    inline-size: calc(633 / var(--layout-width-max) * 100%);
    margin-block-end: calc(52 / var(--layout-width-max) * 100%);
    padding-block: calc(27 / var(--layout-width-max) * 100%);
    translate: 0;
  }

  .l-section-hero__disease-heading {
    inline-size: calc((352 / 633) * 100%);
  }

  .l-section-hero__disease-list-wrapper {
    gap: calc((18 / 633) * 100%);
    margin-block-start: calc((20 / 633) * 100%);
  }

  .l-section-hero__button {
    z-index: var(--front-z-index);
    position: relative;
    margin-block-start: -1.3%;
    padding-block: calc(22 / var(--layout-width-max) * 100%);
  }

  /* top message */
  .l-section-topmessage {
    inline-size: min(calc(473 / var(--layout-width-max) * 100%), 363px);
    padding-block-start: calc(64 / var(--layout-width-max) * 100%);
  }

  /* points */
  .l-section-points {
    padding-block: calc(40 / var(--layout-width-max) * 100%) calc(55 / var(--layout-width-max) * 100%);
  }

  .l-section-points__inner {
    inline-size: min(calc(1000 / var(--layout-width-max) * 100%), 769px);
  }

  .l-section-points__list-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .l-section-points__attention {
    margin-block-start: calc((12 / 1000) * 100%);
    font-size: min(calc(14 / var(--layout-width-max) * 100vw), calc(10 * var(--rem-ratio)));
  }

  /* kokuchi */
  .l-section-kokuchi {
    padding-block: calc(100 / var(--layout-width-max) * 100%) calc(74 / var(--layout-width-max) * 100%);
  }

  .l-section-kokuchi__headline {
    inline-size: min(calc(660 / var(--layout-width-max) * 100%), 507px);
    margin-block-start: calc(12 / var(--layout-width-max) * 100%);
  }

  .l-section-kokuchi__heading-wrapper {
    inline-size: min(calc(397 / var(--layout-width-max) * 100%), 305px);
    margin: auto;
  }

  .l-section-kokuchi__pop {
    inset-inline-start: calc((-64 / 397) * 100%);
    inline-size: min(calc((128 / 397) * 100%), calc(128px / 1.3));
    margin-block-start: calc((-31 / 397) * 100%);
  }

  .l-section-kokuchi__qa-wrapper {
    inline-size: min(calc(788 / var(--layout-width-max) * 100%), 606px);
    margin-block-start: calc(24 / var(--layout-width-max) * 100%);
  }

  .l-section-kokuchi__qa {
    padding-block: calc((36 / 788) * 100%);
  }

  .l-section-kokuchi__attention {
    margin-block-start: calc((18 / 788) * 100%);
    font-size: min(calc(14 / var(--layout-width-max) * 100vw), calc(10 * var(--rem-ratio)));
    letter-spacing: var(--tracking-tight);
  }

  /* plans */
  .l-section-plans {
    margin-block-start: calc(125 / var(--layout-width-max) * 100%);
  }

  .l-section-plans__list-wrapper {
    margin-block-start: calc(10 / var(--layout-width-max) * 100%);
  }

  .l-section-plans__slide {
    inline-size: min(calc(1001 / var(--layout-width-max) * 100%), 770px);
  }

  /* swiper */
  .swiper-parts-wrapper {
    inline-size: min(calc(381 / var(--layout-width-max) * 100%), 293px);
    margin-block-start: calc(35 / var(--layout-width-max) * 100%);
  }

  .swiper-button-prev {
    inline-size: min(calc((35 / 381) * 100%), 26.9px);
  }

  .swiper-button-next {
    inline-size: min(calc((35 / 381) * 100%), 26.9px);
  }

  .js-swiper-bullet {
    inline-size: min(calc(21 / var(--layout-width-max) * 100vw), 16.15px);
  }

  .js-swiper-bullet:nth-of-type(2) {
    margin-inline: min(calc(23 / var(--layout-width-max) * 100vw), 17.6px);
  }

  /* message */
  .l-section-bottom-message {
    margin-block-start: calc(77 / var(--layout-width-max) * 100%);
  }

  .l-section-bottom-message__heading-bg {
    inline-size: calc(445 / var(--layout-width-max) * 100%);
  }

  .l-section-bottom-message__heading-text {
    inline-size: calc(324 / var(--layout-width-max) * 100%);
  }

  .l-section-bottom-message__image {
    inline-size: calc(285 / var(--layout-width-max) * 100%);
    margin-block-start: calc(-67 / var(--layout-width-max) * 100%);
  }

  /* qa */
  .l-section-qa {
    margin-block-start: calc(100 / var(--layout-width-max) * 100%);
  }

  /* footer */
  .footer__tel-button {
    pointer-events: none;
    inline-size: 366px;
  }

  .footer__tel-button-icon {
    inline-size: 25px;
  }

  .footer__tel-button-info-num {
    font-size: calc(31 * var(--rem-ratio));
  }

  .footer__tel-button-info-time {
    font-size: calc(21 * var(--rem-ratio));
  }
}

@media (any-hover: hover) {
  .header__shiryou-button-link:hover {
    scale: 1.03;
  }

  .l-sticky-float:hover {
    scale: 1.03;
  }

  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    scale: 1.2;
  }

  .footer__links-list-item-text-link:hover,
  .footer__textlink:hover {
    border-color: transparent;
  }
}

/* hero */
.c-hero-disease-list {
  inline-size: calc(192 / var(--layout-width-inner) * 100%);
}

.c-hero-disease-list--small {
  inline-size: calc(154 / var(--layout-width-inner) * 100%);
}

.c-hero-disease-list__heading {
  background-color: var(--common-yellow);
  border-radius: var(--rounded-heading);
  font-family: var(--font-sans);
  font-weight: var(--font-bold);
  font-size: calc(18 * var(--rem-ratio));
  color: var(--common-blue);
  line-height: var(--leading-1-4);
  text-align: center;
}

.c-hero-disease-list__text {
  margin-block-start: 5px;
  font-family: var(--font-sans);
  font-size: calc(14 * var(--rem-ratio));
  color: var(--common-blue);
  text-align: center;
  line-height: var(--leading-tight);
}

/* free-shiryou */
.c-freeshiryou-button {
  display: block;
  inline-size: calc(655 / var(--layout-width-sp) * 100%);
  margin: auto;
  transition: scale 0.2s ease;
}

.c-freeshiryou-button__link {
  z-index: var(--default-z-index);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  inline-size: 100%;
  margin: auto;
  padding: 13px calc((53 / 655) * 100%);
  background-color: var(--shiryou-button);
  border: 2.5px solid var(--background-base);
  border-radius: var(--rounded-l);
  box-shadow: var(--shadow-freeshiryou-button);
}

.c-freeshiryou-button__icon {
  inline-size: calc((47 / 655) * 100%);
}

.c-freeshiryou-button__icon-img {
  inline-size: 100%;
}

.c-freeshiryou-button__text {
  font-size: calc(17 * var(--rem-ratio));
  font-family: var(--font-sans);
  font-weight: var(--font-bold);
  color: var(--color-grayscale-0);
  line-height: var(--leading-tight);
}

.c-freeshiryou-button__arrow {
  inline-size: calc((19 / 655) * 100%);
}

.c-freeshiryou-button__arrow-img {
  inline-size: 100%;
}

/* kokuchi */
.c-kokuchi-question__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: calc(154 / var(--layout-width-inner) * 100%);
  padding-block: 4px;
  margin-inline-start: calc(48 / var(--layout-width-inner) * 100%);
  background-color: var(--common-yellow);
  border-radius: var(--rounded-heading);
  font-family: var(--font-sans);
  font-weight: var(--font-bold);
  font-size: calc(18 * var(--rem-ratio));
  line-height: var(--leading-tight);
  color: var(--common-blue);
}

.c-kokuchi-question__text {
  inline-size: calc(596 / var(--layout-width-inner) * 100%);
  margin: 12px auto 0;
  font-family: var(--font-sans);
  font-weight: var(--font-normal);
  font-size: calc(15 * var(--rem-ratio));
  letter-spacing: var(--tracking-negative-tight);
  color: var(--font-base);
  text-align: justify;
}

.c-kokuchi-question__button-box {
  display: flex;
  justify-content: center;
  gap: calc(48 / var(--layout-width-inner) * 100%);
  margin: 14px auto 0;
}

.c-kokuchi-question__button {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: calc((262 / var(--layout-width-inner)) * 100%);
  padding-block: 6px;
  background-color: var(--background-yellow);
  border-radius: var(--rounded-12);
  border: 2px solid var(--common-blue);
  box-shadow: 3.56px 3.56px 0 0 rgb(0 94 164 / 100%);
  font-family: var(--font-sans);
  font-weight: var(--font-semibold);
  font-size: calc(22 * var(--rem-ratio));
  color: var(--common-blue);
  line-height: var(--leading-tight);
  cursor: pointer;
  transition:
    translate 0.2s ease,
    box-shadow 0.2s ease;
}

.c-kokuchi-question__button--selected {
  background-color: var(--common-blue);
  border-color: var(--color-grayscale-0);
  color: var(--color-grayscale-0);
}

.c-kokuchi-pattern {
  display: none;
  margin-block-start: 35px;
}

.c-kokuchi-pattern--current {
  display: block;
}

.c-kokuchi-answer__arrow {
  inline-size: calc(232 / var(--layout-width-inner) * 100%);
  margin: auto;
}

.c-kokuchi-answer__button-box {
  inline-size: calc(643 / var(--layout-width-inner) * 100%);
  margin: calc(44px / 2) auto 0;
  border-radius: var(--rounded-12);
  box-shadow: var(--shadow-kokuchi-freeshiryou-btn-base);
}

.c-kokuchi-answert__button-box-inner {
  padding-block: calc(40px / 2) calc(30px / 2);
  box-shadow: var(--shadow-kokuchi-freeshiryou-btn-cover);
  border-radius: var(--rounded-12);
  border: 4px solid var(--shiryou-button);
}

.c-kokuchi-answer__text {
  margin-block-start: 18px;
  font-family: var(--font-sans);
  font-weight: var(--font-bold);
  font-size: calc(15 * var(--rem-ratio));
  color: var(--font-base);
  line-height: var(--leading-snug);
  text-align: center;
}

.c-kokuchi-answer__text--freeshiryou {
  margin: 0;
  font-size: calc(21 * var(--rem-ratio));
  color: var(--shiryou-button);
}

.c-kokuchi-answer__button {
  position: relative;
  display: block;
  inline-size: calc(486 / var(--layout-width-inner) * 100%);
  margin: 23px auto 0;
  transition: scale 0.2s ease;
}

.c-kokuchi-answer__button--free-shiryou {
  z-index: var(--default-z-index);
  inline-size: calc((523 / 643) * 100%);
  margin-block-start: calc(19px / 2);
}

.c-kokuchi-answer__button-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 12px;
  background-color: var(--contact-button);
  box-shadow: var(--shadow-kokuchi-soudan-button);
  border-radius: var(--rounded-l);
  font-family: var(--font-sans);
  font-weight: var(--font-bold);
  font-size: calc(18 * var(--rem-ratio));
  color: var(--font-base);
  line-height: var(--leading-tight);
  letter-spacing: var(--tracking-loose);
}

.c-kokuchi-answer__button-link--freeshiryou {
  padding-block: 10px;
  box-shadow: var(--shadow-freeshiryou-button-pink);
  background-color: var(--shiryou-button);
  color: var(--background-base);
}

.c-kokuchi-answer__button-link-small {
  font-size: calc(16 * var(--rem-ratio));
}

.c-kokokuchi-answer__btn {
  margin-block-start: 25px;
}

.c-kokuchi-answer__button-arrow {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-end: calc((42 / 486) * 100%);
  inline-size: calc((17 / 486) * 100%);
  translate: 0 -50%;
}

.c-kokuchi-answer__button-pop {
  z-index: var(--front-z-index);
  position: relative;
  display: block;
  inline-size: calc((249 / 282) * 100%);
  margin: auto;
}

.c-kokuchi-answer__button-pop-img {
  inline-size: 100%;
}

/* section heading */
.c-section-heading {
  margin: auto;
}

.c-section-heading--kokuchi {
  z-index: var(--default-z-index);
  position: relative;
  inline-size: calc(403 / var(--layout-width-sp) * 100%);
  margin: auto;
}

.c-section-heading--point {
  inline-size: calc(475 / var(--layout-width-sp) * 100%);
}

.c-section-heading--plans {
  inline-size: calc(403 / var(--layout-width-sp) * 100%);
}

.c-section-heading--qa {
  inline-size: min(calc(403 / var(--layout-width-sp) * 100%), calc(222px * 1.3));
}

.c-section-heading--shiryou {
  inline-size: min(calc(486 / var(--layout-width-sp) * 100%), calc(250px * 1.3));
}

.c-section-heading-img {
  inline-size: 100%;
}

.c-points-list {
  inline-size: 100%;
}

.c-points-list + * {
  margin-block-start: 15px;
}

.c-points-list__heading {
  z-index: var(--front-z-index);
  position: relative;
  inline-size: calc(496 / var(--layout-width-inner) * 100%);
  margin-inline-start: calc(36 / var(--layout-width-inner) * 100%);
}

.c-points-list__heading-img {
  inline-size: 100%;
}

.c-points-list__info {
  z-index: var(--default-z-index);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: calc((23 / var(--layout-width-inner)) * 100%);
  margin-block-start: -16px;
  padding: 35px calc(32 / var(--layout-width-inner) * 100%) 24px;
  border-radius: var(--rounded-frame-s);
  background: linear-gradient(-45deg, var(--common-blue) 50%, var(--shine) 60%, var(--common-blue) 70%);
  background-size: 600% 100%;
}

.c-points-list__info-icon {
  inline-size: calc((82 / 320) * 100%);
}

.c-points-list__info-text {
  flex: 1;
  font-family: var(--font-sans);
  font-size: calc(14 * var(--rem-ratio));
  font-weight: var(--font-normal);
  color: var(--color-grayscale-0);
  line-height: var(--leading-1-4);
  letter-spacing: var(--tracking-tightest);
}

.c-points-list__info-text--yellow {
  color: var(--common-yellow);
  font-weight: var(--font-bold);
}

.c-points-list__info-text--attention {
  font-size: calc(12 * var(--rem-ratio));
}

.c-points-list__info-num {
  vertical-align: text-top;
}

/* plans */
.c-plans-list {
  inline-size: calc(var(--layout-width-inner) / var(--layout-width-sp) * 100%);
  margin: auto;
  padding: 30px 0 23px;
  border-radius: var(--rounded-frame-l);
  border: 3px solid var(--common-blue);
}

.c-plans-list__profile {
  inline-size: calc(610 / var(--layout-width-inner) * 100%);
  margin: auto;
}

.c-plans-list__headline {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.c-plans-list__headline-image--1 {
  inline-size: calc((148 / 610) * 100%);
}

.c-plans-list__headline-image--2 {
  inline-size: calc((127 / 610) * 100%);
}

.c-plans-list__headline-image--3 {
  inline-size: calc((129 / 610) * 100%);
}

.c-plans-list__headline-heading {
  flex: 1;
  margin-inline-start: calc((20 / 610) * 100%);
}

.c-plans-list__headline-heading::after {
  content: '';
  display: block;
  inline-size: 100%;
  height: 4px;
  background-color: var(--common-blue);
}

.c-plans-list__headline-heading-sub {
  font-family: var(--font-sans);
  font-weight: var(--font-normal);
  font-size: calc(12 * var(--rem-ratio));
  color: var(--plans-gray);
  letter-spacing: var(--tracking-tighter);
}

.c-plans-list__headline-heading-main {
  font-family: var(--font-sans);
  font-weight: var(--font-bold);
  font-size: calc(22 * var(--rem-ratio));
  letter-spacing: 0.2em;
  color: var(--plans-gray);
}

.c-plans-list__customer {
  margin-block-start: 8px;
}

.c-plans-list__customer-line {
  display: flex;
  color: var(--plans-gray);
  line-height: var(--leading-tight);
}

.c-plans-list__customer-text {
  font-family: var(--font-sans);
  font-weight: var(--font-normal);
  font-size: calc(13 * var(--rem-ratio));
}

.c-plans-list__customer-gender {
  margin-inline-start: 16px;
}

.c-plans-list__customer-price {
  margin-inline-start: 10px;
  font-family: var(--font-sans);
  font-weight: var(--font-bold);
  font-size: calc(13 * var(--rem-ratio));
}

.c-plans-list__customer-term {
  font-family: var(--font-sans);
  font-weight: var(--font-normal);
  font-size: calc(11 * var(--rem-ratio));
  letter-spacing: var(--tracking-tighter);
}

.c-plans-list__heading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: calc(111 / var(--layout-width-sp) * 100vw);
  font-family: var(--font-sans);
  font-weight: var(--font-normal);
  font-size: calc(15 * var(--rem-ratio));
  color: var(--color-grayscale-0);
}

.c-plans-list__heading--gray {
  background-color: var(--plans-gray);
}

.c-plans-list__heading--blue {
  background-color: var(--common-blue);
}

.c-plans-list__item-plus {
  position: relative;
  inline-size: calc(19 / var(--layout-width-inner) * 100%);
  margin: 10px 0;
  margin-inline-start: calc(92 / var(--layout-width-inner) * 100%);
}

.c-plans-list__col {
  display: flex;
  gap: calc(19 / var(--layout-width-inner) * 100%);
  margin: 18px 0 0 calc(48 / var(--layout-width-inner) * 100%);
}

.c-plans-list__col:nth-child(3) {
  margin-block-start: 0;
  margin-bottom: 15px;
}

.c-plans-list__col--single {
  justify-content: center;
  gap: calc(59 / var(--layout-width-inner) * 100%);
  margin: 34px 0 43px;
}

.c-plans-list__col--one-line {
  align-items: center;
}

.c-plans-list__list-wrapper {
  inline-size: 72%;
}

.c-plans-list__list-wrap--single {
  inline-size: fit-content;
}

.c-plans-list__item {
  font-family: var(--font-sans);
  font-weight: var(--font-normal);
  font-size: calc(13 * var(--rem-ratio));
  color: var(--plans-gray);
  line-height: var(--leading-tight);
  letter-spacing: var(--tracking-tighter);
}

.c-plans-list__item-icon {
  color: var(--common-blue);
}

.c-plans-list__keiyaku-heading {
  position: relative;
  inline-size: calc(644 / var(--layout-width-inner) * 100%);
  padding: 4px 0 4px 13px;
  background-color: var(--common-yellow);
  font-size: calc(15 * var(--rem-ratio));
  font-family: var(--font-sans);
  font-weight: var(--font-semibold);
  line-height: var(--leading-tight);
}

.c-plans-list__keiyaku-heading::before,
.c-plans-list__keiyaku-heading::after {
  content: '';
  position: absolute;
  inset-inline-end: -13px;
  inline-size: 0;
  height: 0;
  border-style: solid;
}

.c-plans-list__keiyaku-heading::before {
  top: 0;
  border-color: var(--common-yellow) transparent transparent transparent;
  border-width: 17px 13px 0 0;
}

.c-plans-list__keiyaku-heading::after {
  bottom: 0;
  border-color: transparent transparent transparent var(--common-yellow);
  border-width: 17px 0 0 13px;
}

.c-plans-list__keiyaku-box--type2 {
  margin-block-start: 20px;
}

.c-plans-list__data {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-plans-list__data-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  inline-size: calc(219 / var(--layout-width-inner) * 100%);
  aspect-ratio: 1/1;
  background-color: var(--common-blue);
  border-radius: var(--rounded-full);
  text-align: center;
}

.c-plans-list__data-item--small {
  inline-size: calc(188 / var(--layout-width-inner) * 100%);
}

.c-plans-list__data-text {
  font-size: calc(15 * var(--rem-ratio));
  font-family: var(--font-sans-display);
  font-weight: var(--font-normal);
  font-feature-settings: 'palt';
  color: var(--color-grayscale-0);
  line-height: var(--leading-tight);
  letter-spacing: var(--tracking-tightest);
}

.c-plans-list__data-text--small {
  font-size: calc(13 * var(--rem-ratio));
}

.c-plans-list__data-price {
  margin-block-start: calc((8 / 114) * 100%);
  font-family: var(--font-sans);
  font-weight: var(--font-bold);
  font-size: calc(18 * var(--rem-ratio));
  color: var(--color-grayscale-0);
  line-height: var(--leading-tight);
}

.c-plans-list__data-price--small {
  font-size: calc(15 * var(--rem-ratio));
}

.c-plans-list__data-num {
  font-size: calc(23 * var(--rem-ratio));
}

.c-plans-list__data-num--small {
  font-size: calc(20 * var(--rem-ratio));
}

.c-plans-list__plus-icon {
  position: relative;
  inline-size: calc(21 / var(--layout-width-inner) * 100%);
  aspect-ratio: 1/1;
  margin: 5px 0 5px calc(94 / var(--layout-width-inner) * 100%);
}

.c-plans-list__data-plus-icon {
  inline-size: calc(43 / var(--layout-width-inner) * 100%);
  margin-inline: calc(20 / var(--layout-width-sp) * 100%);
}

.c-plans-list__data-plus-icon--small {
  inline-size: calc(30 / var(--layout-width-inner) * 100%);
  margin-inline: calc(5 / var(--layout-width-inner) * 100%);
}

.c-plans-list__catch {
  margin-block-start: 5px;
  font-family: var(--font-sans);
  font-weight: var(--font-bold);
  font-size: calc(15 * var(--rem-ratio));
  color: var(--plans-gray);
  text-align: center;
  line-height: var(--leading-tight);
}

.c-plans-list__catch--large {
  font-size: calc(30 * var(--rem-ratio));
  color: var(--common-blue);
}

.c-plans-list__catch--value {
  font-size: calc(16 * var(--rem-ratio));
  color: var(--common-blue);
}

/* qa */
.c-qa-accordion {
  inline-size: min(calc(var(--layout-width-inner) / var(--layout-width-sp) * 100%), 768px);
  margin: auto;
}

.c-qa-box {
  padding-block-end: 8px;
}

.c-qa-box:last-of-type {
  border-block-end: 2px solid var(--common-blue);
}

.c-qa-box__question {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: min(calc(15 / var(--layout-width-inner) * 100%), 8px);
  padding-top: 8px;
  padding-left: 12px;
  border-top: 2px solid var(--common-blue);
  transition: opacity 0.3s ease;
}

.c-qa-box__question-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: min(calc(38 / var(--layout-width-inner) * 100%), calc(20px * 1.5));
  aspect-ratio: 1/1;
  border-radius: var(--rounded-full);
  border: 2px solid var(--font-base);
}

.c-qa-box__question-icon-elm {
  display: block;
  inline-size: min(calc((30 / 38) * 100%), calc(14px * 1.5));
}

.c-qa-box__question-icon-img {
  inline-size: 100%;
}

.c-qa-box__question-text {
  inline-size: 75%;
  font-family: var(--font-sans);
  font-weight: var(--font-semibold);
  font-size: calc(15 * var(--rem-ratio));
  line-height: var(--leading-tight);
}

.c-qa-box__question-close {
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: calc(21 / var(--layout-width-inner) * 100%);
  inline-size: min(calc(30 / var(--layout-width-inner) * 100%), 16px);
  margin-block-start: calc(15 / var(--layout-width-inner) * 100%);
  transition: rotate 0.3s ease;
}

.c-qa-box[open] .c-qa-box__question-close {
  rotate: -135deg;
}

.c-qa-box__answer {
  display: flex;
  align-items: flex-start;
  gap: min(calc(15 / var(--layout-width-inner) * 100%), 8px);
  margin-block-start: 8px;
  padding-left: 12px;
}

.c-qa-box__answer-text {
  inline-size: 75%;
  font-family: var(--font-sans);
  font-weight: var(--font-normal);
  font-size: calc(13 * var(--rem-ratio));
  line-height: var(--leading-tight);
}

.c-qa-box__answer-text--strong {
  font-weight: var(--font-bold);
}

.c-qa-box__answer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: min(calc(38 / var(--layout-width-inner) * 100%), calc(20px * 1.5));
  aspect-ratio: 1/1;
  border-radius: var(--rounded-full);
  border: 2px solid var(--font-base);
}

.c-qa-box__answer-icon-elm {
  display: block;
  inline-size: min(calc((23 / 38) * 100%), calc(12px * 1.5));
}

.c-qa-box__answer-icon-img {
  inline-size: 100%;
}

.c-qa-box__answer-link {
  display: inline-block;
  margin-block-start: 4px;
  font-family: var(--font-sans);
  font-weight: var(--font-bold);
  font-size: calc(13 * var(--rem-ratio));
  color: var(--shiryou-button);
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  /* freeshiryou */
  .c-freeshiryou-button {
    inline-size: calc(505 / var(--layout-width-max) * 100%);
  }

  .c-freeshiryou-button__icon {
    inline-size: calc((37 / 505) * 100%);
  }

  .c-freeshiryou-button__text {
    font-size: calc(26 / var(--layout-width-max) * 100vw);
  }

  .c-freeshiryou-button__link {
    padding: calc((20 / 505) * 100%) calc((28 / 505) * 100%);
    border-radius: var(--rounded-45);
  }

  .c-freeshiryou-button__arrow {
    inline-size: calc((15 / 505) * 100%);
  }

  /* hero */
  .c-hero-disease-list__heading {
    font-size: calc(28 / var(--layout-width-max) * 100vw);
  }

  .c-hero-disease-list__text {
    font-size: calc(22 / var(--layout-width-max) * 100vw);
  }

  /* point */
  .c-section-heading--point {
    inline-size: min(calc(475 / var(--layout-width-max) * 100%), 365px);
  }

  .c-points-list {
    inline-size: calc((320 / 1000) * 100%);
  }

  .c-points-list + * {
    margin: 0;
  }

  .c-points-list__heading {
    inline-size: calc((298 / 320) * 100%);
    margin: auto;
  }

  .c-points-list__info {
    display: block;
    margin-block-start: calc((-40 / 320) * 100%);
    padding: 0;
    padding-block: calc((48 / 320) * 100%) calc((38 / 320) * 100%);
  }

  .c-points-list__info-icon {
    inline-size: calc((132 / 320) * 100%);
    margin: auto;
  }

  .c-points-list__info-text {
    margin-block-start: calc((19 / 320) * 100%);
    padding-inline: calc((18 / 320) * 100%);
    font-size: min((18 / var(--layout-width-max) * 100vw), calc(13 * var(--rem-ratio)));
  }

  .c-points-list__info-text--attention {
    font-size: min(calc(18 / var(--layout-width-max) * 100vw), calc(13 * var(--rem-ratio)));
  }

  /* kokuchi */
  .c-section-heading--kokuchi {
    inline-size: 100%;
  }

  .c-kokuchi-question__heading {
    inline-size: calc((121 / 788) * 100%);
    margin-inline-start: calc((70 / 788) * 100%);
    padding-block: calc((7 / 788) * 100%);
    font-size: min(calc(26 / var(--layout-width-max) * 100vw), calc(20 * var(--rem-ratio)));
  }

  .c-kokuchi-question__text {
    inline-size: calc((649 / 788) * 100%);
    margin-block-start: calc((17 / 788) * 100%);
    font-size: min(calc(20 / var(--layout-width-max) * 100vw), calc(15 * var(--rem-ratio)));
  }

  .c-kokuchi-question__button-box {
    gap: calc((37 / 788) * 100%);
  }

  .c-kokuchi-question__button {
    inline-size: calc((194 / 788) * 100%);
    padding-block: calc((11 / 788) * 100%);
    font-size: min(calc(32 / var(--layout-width-max) * 100vw), calc(24 * var(--rem-ratio)));
  }

  .c-kokuchi-answer__text {
    margin-block-start: calc((34 / 788) * 100%);
    padding-inline: calc((62 / 788) * 100%);
    font-size: min(calc(24 / var(--layout-width-max) * 100vw), calc(18 * var(--rem-ratio)));
    text-align: start;
    line-height: var(--leading-normal);
  }

  .c-kokuchi-answer__text--freeshiryou {
    margin: 0;
    font-size: min(calc(42 / var(--layout-width-max) * 100vw), calc(32 * var(--rem-ratio)));
  }

  .c-kokuchi-pattern {
    margin-block-start: calc((50 / 788) * 100%);
  }

  .c-kokuchi-answer__arrow {
    inline-size: min(calc((232 / 788) * 100%), 178px);
  }

  .c-kokuchi-answer__button {
    inline-size: calc((486 / 788) * 100%);
  }

  .c-kokuchi-answer__button--free-shiryou {
    inline-size: min(calc((542 / 643) * 100%), 542px);
    margin-block-start: calc((19 / 643) * 100%);
  }

  .c-kokuchi-answer__button-link {
    font-size: min(calc(33 / var(--layout-width-max) * 100vw), calc(25 * var(--rem-ratio)));
    padding-block: calc((24 / 542) * 100%);
    border-radius: var(--rounded-56);
  }

  .c-kokuchi-answer__button-link--freeshiryou {
    margin: 0;
  }

  .c-kokuchi-answer__button-link-small {
    font-size: min(calc(30 / var(--layout-width-max) * 100vw), calc(23 * var(--rem-ratio)));
  }

  .c-kokuchi-answer__button-arrow {
    inline-size: calc((17 / 486) * 100%);
  }

  .c-kokuchi-answer__button-box {
    inline-size: calc((643 / 788) * 100%);
  }

  .c-kokuchi-answert__button-box-inner {
    padding-block: calc((30 / 643) * 100%);
  }

  /* plans */
  .c-section-heading--plans {
    inline-size: min(calc(475 / var(--layout-width-max) * 100%), 365px);
  }

  /* qa */
  .c-qa-box__question {
    align-items: center;
  }

  .c-qa-box__question-text {
    font-size: calc(19 * var(--rem-ratio));
  }

  .c-qa-box__answer-text,
  .c-qa-box__answer-link {
    font-size: calc(17 * var(--rem-ratio));
  }
}

@media (any-hover: hover) {
  .header__btn:hover,
  .c-freeshiryou-button:hover,
  .c-kokuchi-answer__button:hover {
    scale: 1.03;
  }

  .c-kokuchi-question__button:hover {
    box-shadow: none;
    translate: 3.56px 3.56px;
  }

  .c-qa-box:hover {
    cursor: pointer;
  }
}



