/* hero */
.c-hero-disease-list {
  width: calc(100 / var(--layout-width-inner) * 100%);
  opacity: 0;
  scale: 0.6;
}

.c-hero-disease-list--small {
  width: calc(90 / var(--layout-width-inner) * 100%);
}

.c-hero-disease-list__heading {
  background-color: var(--common-yellow);
  border-radius: var(--rounded-heading);
  font-family: var(--font-sans);
  font-weight: var(--font-bold);
  font-size: calc(18 * var(--rem-ratio));
  color: var(--common-blue);
  line-height: var(--leading-1-4);
  text-align: center;
}

.c-hero-disease-list__text {
  margin-top: 10px;
  font-family: var(--font-sans);
  font-size: calc(14 * var(--rem-ratio));
  color: var(--common-blue);
  text-align: center;
  line-height: var(--leading-tight);
}

/* free-shiryou */
.c-freeshiryou-button {
  display: block;
  width: min(calc(330 / var(--layout-width-sp) * 100%), calc(330px * 1.5));
  margin: 14px auto 0;
  transition: scale 0.2s ease;
}

.c-freeshiryou-pop {
  z-index: var(--front-z-index);
  position: relative;
  width: min(calc((145 / 330) * 100%), calc(145px * 1.5));
  margin: auto;
}

.c-freeshiryou-pop-img {
  width: 100%;
}

.c-freeshiryou-button__link {
  z-index: var(--default-z-index);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: calc(-22 / var(--layout-width-sp) * 100%) auto 0;
  padding: 13px 20px;
  background-color: var(--contact-btn);
  border-radius: var(--rounded-l);
  box-shadow: var(--shadow-freeshiryou-btn);
}

.c-freeshiryou-button__icon {
  width: min(calc((23 / 330) * 100%), 23px);
}

.c-freeshiryou-button__icon-img {
  width: 100%;
}

.c-freeshiryou-button__text {
  font-size: calc(17 * var(--rem-ratio));
  font-family: var(--font-sans);
  font-weight: var(--font-bold);
  color: var(--color-grayscale-0);
  line-height: var(--leading-tight);
}

.c-freeshiryou-button__arrow {
  width: min(calc((13 / 330) * 100%), 13px);
}

.c-freeshiryou-button__arrow-img {
  width: 100%;
}

/* kokuchi */
.c-kokuchi-question__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(calc(80 / var(--layout-width-inner) * 100%), calc(80px * 1.3));
  padding-block: 4px;
  margin-left: calc(30 / var(--layout-width-inner) * 100%);
  background-color: var(--common-yellow);
  border-radius: var(--rounded-heading);
  font-family: var(--font-sans);
  font-weight: var(--font-bold);
  font-size: calc(18 * var(--rem-ratio));
  line-height: var(--leading-tight);
  color: var(--common-blue);
}

.c-kokuchi-question__text {
  width: calc(300 / var(--layout-width-inner) * 100%);
  margin: 12px auto 0;
  font-family: var(--font-sans);
  font-weight: var(--font-normal);
  letter-spacing: var(--tracking-negative-tight);
  color: var(--font-base);
  text-align: justify;
}

.c-kokuchi-question__button-box {
  display: flex;
  justify-content: center;
  gap: min(calc(25 / var(--layout-width-inner) * 100%), 25px);
  margin: 14px auto 0;
}

.c-kokuchi-question__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(calc((128 / var(--layout-width-inner)) * 100%), calc(128px * 1.3));
  padding-block: 6px;
  background-color: var(--background-yellow);
  border-radius: var(--rounded-12);
  border: 2px solid var(--common-blue);
  box-shadow: 3.56px 3.56px 0 0 rgb(0 94 164 / 100%);
  font-family: var(--font-sans);
  font-weight: var(--font-semibold);
  font-size: calc(22 * var(--rem-ratio));
  color: var(--common-blue);
  line-height: var(--leading-tight);
  cursor: pointer;
  transition:
    translate 0.2s ease,
    box-shadow 0.2s ease;
}

.c-kokuchi-question__button--selected {
  background-color: var(--common-blue);
  border-color: var(--color-grayscale-0);
  color: var(--color-grayscale-0);
}

.c-kokuchi-pattern {
  display: none;
  margin-top: 40px;
}

.c-kokuchi-pattern--current {
  display: block;
}

.c-kokuchi-answer__arrow {
  width: 0;
  height: 0;
  margin: 40px auto 0;
  border-width: 25px 69.5px 0;
  border-style: solid;
  border-color: var(--parts) transparent transparent transparent;
}

.c-kokuchi-answer__text {
  margin-top: 18px;
  font-family: var(--font-sans);
  font-weight: var(--font-bold);
  font-size: calc(15 * var(--rem-ratio));
  color: var(--font-base);
  line-height: var(--leading-snug);
  text-align: center;
}

.c-kokuchi-answer__btn {
  position: relative;
  display: block;
  width: min(calc(253 / var(--layout-width-inner) * 100%), calc(253px * 1.3));
  margin: 23px auto 0;
  transition: scale 0.2s ease;
}

.c-kokuchi-answer__btn--free-shiryou {
  z-index: var(--default-z-index);
  width: min(calc(282 / var(--layout-width-inner) * 100%), calc(282px * 1.3));
}

.c-kokuchi-answer__btn-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 12px;
  background-color: var(--contact-btn);
  border-radius: var(--rounded-l);
  font-family: var(--font-sans);
  font-weight: var(--font-bold);
  font-size: calc(18 * var(--rem-ratio));
  color: var(--color-grayscale-0);
  line-height: var(--leading-tight);
  letter-spacing: var(--tracking-loose);
}

.c-kokuchi-answer__btn-link--freeshiryou {
  margin-top: calc((-17 / 282) * 100%);
  padding-block: 10px;
  box-shadow: var(--shadow-freeshiryou-btn);
}

.c-kokuchi-answer__btn-link-small {
  font-size: calc(16 * var(--rem-ratio));
}

.c-kokuchi-answer__btn-link::before {
  content: '';
  position: absolute;
  inset-inline-end: min(calc((17 / var(--layout-width-sp)) * 100vw), 17px);
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent transparent transparent var(--color-grayscale-0);
  border-width: 6px 0 6px 10.39px;
}

.c-kokokuchi-answer__btn {
  margin-top: 25px;
}

.c-kokuchi-answer__btn-pop {
  z-index: var(--front-z-index);
  position: relative;
  display: block;
  width: min(calc((249 / 282) * 100%), calc(249px * 1.3));
  margin: auto;
}

.c-kokuchi-answer__btn-pop-img {
  width: 100%;
}

/* section heading */
.c-section-heading {
  margin: auto;
}

.c-section-heading--kokuchi {
  z-index: var(--default-z-index);
  position: relative;
}

.c-section-heading--point {
  width: min(calc(247 / var(--layout-width-sp) * 100%), calc(247px * 1.3));
}

.c-section-heading--plans {
  width: min(calc(222 / var(--layout-width-sp) * 100%), calc(222px * 1.3));
}

.c-section-heading--qa {
  width: min(calc(222 / var(--layout-width-sp) * 100%), calc(222px * 1.3));
}

.c-section-heading--shiryou {
  width: min(calc(222 / var(--layout-width-sp) * 100%), calc(222px * 1.3));
}

.c-section-heading-img {
  width: 100%;
}

.c-points-list {
  width: 100%;
}

.c-points-list + * {
  margin-top: 15px;
}

.c-points-list__heading {
  z-index: var(--front-z-index);
  position: relative;
  display: flex;
  align-items: baseline;
  width: fit-content;
  gap: 22px;
  margin-left: min(calc(18 / var(--layout-width-sp) * 100%), 18px);
  padding: 6px 12px;
  background-color: var(--background-base);
  border-radius: var(--rounded-32);
  border: 3px solid var(--common-blue);
  font-family: var(--font-sans);
  font-weight: var(--font-bold);
  font-size: calc(14 * var(--rem-ratio));
  color: var(--common-blue);
  line-height: var(--leading-1-1);
}

.c-points-list__info {
  z-index: var(--default-z-index);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: min(calc((14 / 360) * 100%), 14px);
  margin-top: -16px;
  padding: 35px 20px 24px;
  border-radius: var(--rounded-frame-s);
  background: linear-gradient(-45deg, var(--common-blue) 50%, var(--shine) 60%, var(--common-blue) 70%);
  background-size: 600% 100%;
}

.c-points-list__info-icon {
  width: min(calc((82 / 320) * 100%), calc(82px * 1.3));
}

.c-points-list__info-text {
  flex: 1;
  font-family: var(--font-sans);
  font-size: calc(14 * var(--rem-ratio));
  font-weight: var(--font-normal);
  color: var(--color-grayscale-0);
  line-height: var(--leading-1-4);
  text-align: justify;
}

.c-points-list__info-text--yellow {
  color: var(--common-yellow);
  font-weight: var(--font-bold);
}

.c-points-list__info-text--attention {
  font-size: calc(12 * var(--rem-ratio));
}

/* plans */
.c-plans-list {
  width: min(calc(var(--layout-width-inner) / var(--layout-width-sp) * 100%), 768px);
  margin: auto;
  padding: 30px 0 23px;
  border-radius: var(--rounded-frame-l);
  border: 3px solid var(--common-blue);
}

.c-plans-list__headline {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: calc(310 / var(--layout-width-inner) * 100%);
  margin: auto;
}

.c-plans-list__headline-image--1 {
  width: min(calc((74 / 310) * 100%), calc(74px * 1.5));
}

.c-plans-list__headline-image--2 {
  width: min(calc((64 / 310) * 100%), calc(64px * 1.5));
}

.c-plans-list__headline-image--3 {
  width: min(calc((64 / 310) * 100%), calc(64px * 1.5));
}

.c-plans-list__headline-heading {
  flex: 1;
  margin-left: calc((10 / 310) * 100%);
}

.c-plans-list__headline-heading::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--common-blue);
}

.c-plans-list__headline-heading-sub {
  font-family: var(--font-sans);
  font-weight: var(--font-normal);
  font-size: calc(12 * var(--rem-ratio));
  color: var(--plans-gray);
  letter-spacing: var(--tracking-tighter);
}

.c-plans-list__headline-heading-main {
  font-family: var(--font-sans);
  font-weight: var(--font-bold);
  font-size: calc(22 * var(--rem-ratio));
  letter-spacing: 0.2em;
  color: var(--plans-gray);
}

.c-plans-list__customer {
  width: calc(310 / var(--layout-width-inner) * 100%);
  margin: 8px auto 0;
}

.c-plans-list__customer-line {
  display: flex;
  color: var(--plans-gray);
  line-height: var(--leading-tight);
}

.c-plans-list__customer-text {
  font-family: var(--font-sans);
  font-weight: var(--font-normal);
  font-size: calc(13 * var(--rem-ratio));
}

.c-plans-list__customer-gender {
  margin-left: 16px;
}

.c-plans-list__customer-price {
  margin-left: 10px;
  font-family: var(--font-sans);
  font-weight: var(--font-bold);
  font-size: calc(14 * var(--rem-ratio));
}

.c-plans-list__customer-term {
  font-family: var(--font-sans);
  font-weight: var(--font-normal);
  font-size: calc(12 * var(--rem-ratio));
  letter-spacing: var(--tracking-tighter);
}

.c-plans-list__heading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(calc(58 / var(--layout-width-inner) * 100%), 87px);
  font-family: var(--font-sans);
  font-weight: var(--font-normal);
  font-size: calc(15 * var(--rem-ratio));
  color: var(--color-grayscale-0);
}

.c-plans-list__heading--gray {
  background-color: var(--plans-gray);
}

.c-plans-list__heading--blue {
  background-color: var(--common-blue);
}

.c-plans-list__item-plus {
  position: relative;
  width: min(calc(10 / var(--layout-width-inner) * 100%), 15px);
  aspect-ratio: 1/1;
  margin: 10px 0;
  margin-left: calc(45 / var(--layout-width-inner) * 100%);
}

.c-plans-list__item-plus::before {
  content: '';
  display: block;
  width: 3px;
  height: 100%;
  margin: auto;
  background-color: var(--plans-gray);
  border-radius: var(--rounded-parts);
}

.c-plans-list__item-plus::after {
  content: '';
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 3px;
  margin: auto;
  background-color: var(--plans-gray);
  border-radius: var(--rounded-parts);
}

.c-plans-list__col {
  display: flex;
  gap: min(calc(10 / var(--layout-width-inner) * 100%), 10px);
  margin: 18px 0 0 calc(23 / var(--layout-width-inner) * 100%);
}

.c-plans-list__col:nth-child(3) {
  margin-top: 0;
  margin-bottom: 20px;
}

.c-plans-list__col--single {
  justify-content: center;
  gap: min(calc(30 / var(--layout-width-inner) * 100%), 30px);
  margin: 34px 0 43px;
}

.c-plans-list__col--one-line {
  align-items: center;
}

.c-plans-list__list-wrapper {
  width: 76%;
}

.c-plans-list__list-wrap--single {
  width: fit-content;
}

.c-plans-list__item {
  font-family: var(--font-sans);
  font-weight: var(--font-normal);
  font-size: calc(14 * var(--rem-ratio));
  color: var(--plans-gray);
  line-height: var(--leading-tight);
  letter-spacing: var(--tracking-tighter);
}

.c-plans-list__item-icon {
  color: var(--common-blue);
}

.c-plans-list__keiyaku-heading {
  position: relative;
  display: flex;
  align-items: center;
  width: min(calc(337 / var(--layout-width-inner) * 100%), 674px);
  padding: 6px 0 6px 13px;
  background-color: var(--common-yellow);
  font-family: var(--font-sans);
  font-weight: var(--font-semibold);
  line-height: var(--leading-tight);
}

.c-plans-list__keiyaku-heading::before,
.c-plans-list__keiyaku-heading::after {
  content: '';
  position: absolute;
  right: -13px;
  width: 0;
  height: 0;
  border-style: solid;
}

.c-plans-list__keiyaku-heading::before {
  top: 0;
  border-color: var(--common-yellow) transparent transparent transparent;
  border-width: 17px 13px 0 0;
}

.c-plans-list__keiyaku-heading::after {
  bottom: 0;
  border-color: transparent transparent transparent var(--common-yellow);
  border-width: 17px 0 0 13px;
}

.c-plans-list__data {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.c-plans-list__data-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: min(calc(114 / var(--layout-width-inner) * 100%), calc(114px * 1.5));
  aspect-ratio: 1/1;
  background-color: var(--common-blue);
  border-radius: var(--rounded-full);
  text-align: center;
}

.c-plans-list__data-item--small {
  width: min(calc(98 / var(--layout-width-inner) * 100%), calc(98px * 1.5));
}

.c-plans-list__data-text {
  font-family: var(--font-sans-display);
  font-weight: var(--font-normal);
  font-feature-settings: 'palt';
  color: var(--color-grayscale-0);
  line-height: var(--leading-tight);
  letter-spacing: var(--tracking-tightest);
}

.c-plans-list__data-text--small {
  font-size: calc(13 * var(--rem-ratio));
}

.c-plans-list__data-price {
  margin-top: calc((8 / 114) * 100%);
  font-family: var(--font-sans);
  font-weight: var(--font-bold);
  font-size: calc(19 * var(--rem-ratio));
  color: var(--color-grayscale-0);
  line-height: var(--leading-tight);
}

.c-plans-list__data-price--small {
  font-size: calc(15 * var(--rem-ratio));
}

.c-plans-list__data-num {
  font-size: calc(24 * var(--rem-ratio));
}

.c-plans-list__data-num--small {
  font-size: calc(20 * var(--rem-ratio));
}

.c-plans-list__data-plus-icon {
  position: relative;
  width: min(calc(21 / var(--layout-width-inner) * 100%), calc(21px * 1.5));
  aspect-ratio: 1/1;
  margin: 0 min(calc(10 / var(--layout-width-inner) * 100%), 10px);
}

.c-plans-list__data-plus-icon--small {
  width: min(calc(16 / var(--layout-width-inner) * 100%), calc(16px * 1.5));
  margin: 0 min(calc(3 / var(--layout-width-inner) * 100%), 3px);
}

.c-plans-list__data-plus-icon::before {
  content: '';
  display: block;
  width: 5px;
  height: 100%;
  margin: auto;
  background-color: var(--plans-gray);
  border-radius: var(--rounded-parts);
}

.c-plans-list__data-plus-icon::after {
  content: '';
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 5px;
  margin: auto;
  background-color: var(--plans-gray);
  border-radius: var(--rounded-parts);
}

.c-plans-list__catch {
  margin-top: 5px;
  font-family: var(--font-sans);
  font-weight: var(--font-bold);
  color: var(--plans-gray);
  text-align: center;
  line-height: var(--leading-tight);
}

.c-plans-list__catch--large {
  font-size: calc(32 * var(--rem-ratio));
  color: var(--common-blue);
}

.c-plans-list__catch--blue {
  font-size: calc(16 * var(--rem-ratio));
  color: var(--common-blue);
}

/* qa */
.c-qa-accordion {
  width: min(calc(var(--layout-width-inner) / var(--layout-width-sp) * 100%), 768px);
  margin: auto;
}

.c-qa-box {
  padding-bottom: 8px;
}

.c-qa-box:last-of-type {
  border-bottom: 2px solid var(--common-blue);
}

.c-qa-box__question {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: min(calc(8 / var(--layout-width-inner) * 100%), 8px);
  padding-top: 8px;
  padding-left: 12px;
  border-top: 2px solid var(--common-blue);
}

.c-qa-box__question-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(calc(20 / var(--layout-width-inner) * 100%), calc(20px * 1.5));
  aspect-ratio: 1/1;
  border-radius: var(--rounded-full);
  border: 2px solid var(--font-base);
}

.c-qa-box__question-icon-elm {
  display: block;
  width: min(calc((14 / 20) * 100%), calc(14px * 1.5));
}

.c-qa-box__question-icon-img {
  width: 100%;
}

.c-qa-box__question-text {
  width: 75%;
  font-family: var(--font-sans);
  font-weight: var(--font-semibold);
  line-height: var(--leading-tight);
}

.c-qa-box__question-close {
  position: absolute;
  top: 10px;
  right: 11px;
  display: block;
  width: min(calc(16 / var(--layout-width-inner) * 100%), 16px);
  aspect-ratio: 1/1;
  rotate: 45deg;
  transition: scale 0.2s ease;
}

.c-qa-box__question-close::before {
  content: '';
  display: block;
  width: 3px;
  height: 100%;
  margin: auto;
  background-color: var(--common-blue);
  border-radius: var(--rounded-parts);
}

.c-qa-box__question-close::after {
  content: '';
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 3px;
  margin: auto;
  background-color: var(--common-blue);
  border-radius: var(--rounded-parts);
}

.c-qa-box__answer {
  display: flex;
  align-items: flex-start;
  gap: min(calc(8 / var(--layout-width-inner) * 100%), 8px);
  margin-top: 8px;
  padding-left: 12px;
}

.c-qa-box__answer-text {
  width: 75%;
  font-family: var(--font-sans);
  font-weight: var(--font-normal);
  font-size: calc(14 * var(--rem-ratio));
  line-height: var(--leading-tight);
}

.c-qa-box__answer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(calc(20 / var(--layout-width-inner) * 100%), calc(20px * 1.5));
  aspect-ratio: 1/1;
  border-radius: var(--rounded-full);
  border: 2px solid var(--font-base);
}

.c-qa-box__answer-icon-elm {
  display: block;
  width: min(calc((12 / 20) * 100%), calc(12px * 1.5));
}

.c-qa-box__answer-icon-img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .c-freeshiryou-button__text {
    font-size: calc(20 * var(--rem-ratio));
  }

  .c-plans-list__headline-heading-sub,
  .c-plans-list__customer-text,
  .c-plans-list__customer-term {
    font-size: calc(15 * var(--rem-ratio));
  }

  .c-plans-list__headline-heading-main,
  .c-kokuchi-question__button {
    font-size: calc(25 * var(--rem-ratio));
  }

  .c-hero-disease-list__text,
  .c-plans-list__customer-price,
  .c-plans-list__item,
  .c-qa-box__answer-text,
  .c-points-list__heading,
  .c-points-list__info-text {
    font-size: calc(17 * var(--rem-ratio));
  }

  .c-plans-list__heading,
  .c-kokuchi-answer__text {
    font-size: calc(18 * var(--rem-ratio));
  }

  .c-plans-list__data-text,
  .c-plans-list__catch,
  .c-plans-list__keiyaku-heading,
  .c-qa-box__question-text,
  .c-kokuchi-question__text {
    font-size: calc(19 * var(--rem-ratio));
  }

  .c-plans-list__data-price {
    font-size: calc(23 * var(--rem-ratio));
  }

  .c-plans-list__catch--large {
    font-size: calc(35 * var(--rem-ratio));
  }

  .c-plans-list__item-plus {
    margin-left: calc(40 / var(--layout-width-inner) * 100%);
  }

  .c-kokuchi-question__heading,
  .c-hero-disease-list__heading {
    font-size: calc(21 * var(--rem-ratio));
  }
}

@media screen and (min-width: 514px) {
  .c-kokuchi-answer__btn-link--free-shiryou {
    margin-top: -21px;
  }
}

@media screen and (min-width: 585px) {
  .c-freeshiryou-button__link {
    margin-top: -27px;
  }
}

@media (any-hover: hover) {
  .header__btn:hover,
  .c-freeshiryou-button:hover,
  .c-kokuchi-answer__btn:hover {
    scale: 1.03;
  }

  .c-kokuchi-question__button:hover {
    box-shadow: none;
    translate: 3.56px 3.56px;
  }

  .c-qa-box:hover {
    cursor: pointer;
  }

  .c-qa-box__question:hover .c-qa-box__question-close {
    scale: 1.2;
  }
}
