/* hero */
.c-hero-disease-list {
  inline-size: calc(192 / var(--layout-width-inner) * 100%);
}

.c-hero-disease-list--small {
  inline-size: calc(154 / var(--layout-width-inner) * 100%);
}

.c-hero-disease-list__heading {
  background-color: var(--common-yellow);
  border-radius: var(--rounded-heading);
  font-family: var(--font-sans);
  font-weight: var(--font-bold);
  font-size: calc(18 * var(--rem-ratio));
  color: var(--common-blue);
  line-height: var(--leading-1-4);
  text-align: center;
}

.c-hero-disease-list__text {
  margin-block-start: 5px;
  font-family: var(--font-sans);
  font-size: calc(14 * var(--rem-ratio));
  color: var(--common-blue);
  text-align: center;
  line-height: var(--leading-tight);
}

/* free-shiryou */
.c-freeshiryou-button {
  display: block;
  inline-size: calc(655 / var(--layout-width-sp) * 100%);
  margin: auto;
  transition: scale 0.2s ease;
}

.c-freeshiryou-button__link {
  z-index: var(--default-z-index);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  inline-size: 100%;
  margin: auto;
  padding: 13px calc((53 / 655) * 100%);
  background-color: var(--shiryou-btn);
  border: 2.5px solid var(--background-base);
  border-radius: var(--rounded-l);
  box-shadow: var(--shadow-freeshiryou-btn);
}

.c-freeshiryou-button__icon {
  inline-size: calc((47 / 655) * 100%);
}

.c-freeshiryou-button__icon-img {
  inline-size: 100%;
}

.c-freeshiryou-button__text {
  font-size: calc(17 * var(--rem-ratio));
  font-family: var(--font-sans);
  font-weight: var(--font-bold);
  color: var(--color-grayscale-0);
  line-height: var(--leading-tight);
}

.c-freeshiryou-button__arrow {
  inline-size: calc((19 / 655) * 100%);
}

.c-freeshiryou-button__arrow-img {
  inline-size: 100%;
}

/* kokuchi */
.c-kokuchi-question__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: calc(154 / var(--layout-width-inner) * 100%);
  padding-block: 4px;
  margin-inline-start: calc(48 / var(--layout-width-inner) * 100%);
  background-color: var(--common-yellow);
  border-radius: var(--rounded-heading);
  font-family: var(--font-sans);
  font-weight: var(--font-bold);
  font-size: calc(18 * var(--rem-ratio));
  line-height: var(--leading-tight);
  color: var(--common-blue);
}

.c-kokuchi-question__text {
  inline-size: calc(596 / var(--layout-width-inner) * 100%);
  margin: 12px auto 0;
  font-family: var(--font-sans);
  font-weight: var(--font-normal);
  font-size: calc(15 * var(--rem-ratio));
  letter-spacing: var(--tracking-negative-tight);
  color: var(--font-base);
  text-align: justify;
}

.c-kokuchi-question__button-box {
  display: flex;
  justify-content: center;
  gap: calc(48 / var(--layout-width-inner) * 100%);
  margin: 14px auto 0;
}

.c-kokuchi-question__button {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: calc((262 / var(--layout-width-inner)) * 100%);
  padding-block: 6px;
  background-color: var(--background-yellow);
  border-radius: var(--rounded-12);
  border: 2px solid var(--common-blue);
  box-shadow: 3.56px 3.56px 0 0 rgb(0 94 164 / 100%);
  font-family: var(--font-sans);
  font-weight: var(--font-semibold);
  font-size: calc(22 * var(--rem-ratio));
  color: var(--common-blue);
  line-height: var(--leading-tight);
  cursor: pointer;
  transition:
    translate 0.2s ease,
    box-shadow 0.2s ease;
}

.c-kokuchi-question__button--selected {
  background-color: var(--common-blue);
  border-color: var(--color-grayscale-0);
  color: var(--color-grayscale-0);
}

.c-kokuchi-pattern {
  display: none;
  margin-block-start: 35px;
}

.c-kokuchi-pattern--current {
  display: block;
}

.c-kokuchi-answer__arrow {
  inline-size: calc(232 / var(--layout-width-inner) * 100%);
  margin: auto;
}

.c-kokuchi-answer__button-box {
  inline-size: calc(643 / var(--layout-width-inner) * 100%);
  margin: calc(44px / 2) auto 0;
  border-radius: var(--rounded-12);
  box-shadow: var(--shadow-kokuchi-freeshiryou-btn-base);
}

.c-kokuchi-answert__button-box-inner {
  padding-block: calc(40px / 2) calc(30px / 2);
  box-shadow: var(--shadow-kokuchi-freeshiryou-btn-cover);
  border-radius: var(--rounded-12);
  border: 4px solid var(--shiryou-btn);
}

.c-kokuchi-answer__text {
  margin-block-start: 18px;
  font-family: var(--font-sans);
  font-weight: var(--font-bold);
  font-size: calc(15 * var(--rem-ratio));
  color: var(--font-base);
  line-height: var(--leading-snug);
  text-align: center;
}

.c-kokuchi-answer__text--freeshiryou {
  margin: 0;
  font-size: calc(21 * var(--rem-ratio));
  color: var(--shiryou-btn);
}

.c-kokuchi-answer__button {
  position: relative;
  display: block;
  inline-size: calc(486 / var(--layout-width-inner) * 100%);
  margin: 23px auto 0;
  transition: scale 0.2s ease;
}

.c-kokuchi-answer__button--free-shiryou {
  z-index: var(--default-z-index);
  inline-size: calc((523 / 643) * 100%);
  margin-block-start: calc(19px / 2);
}

.c-kokuchi-answer__button-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 12px;
  background-color: var(--contact-btn);
  box-shadow: var(--shadow-kokuchi-soudan-btn);
  border-radius: var(--rounded-l);
  font-family: var(--font-sans);
  font-weight: var(--font-bold);
  font-size: calc(18 * var(--rem-ratio));
  color: var(--font-base);
  line-height: var(--leading-tight);
  letter-spacing: var(--tracking-loose);
}

.c-kokuchi-answer__button-link--freeshiryou {
  padding-block: 10px;
  box-shadow: var(--shadow-freeshiryou-btn-pink);
  background-color: var(--shiryou-btn);
  color: var(--background-base);
}

.c-kokuchi-answer__button-link-small {
  font-size: calc(16 * var(--rem-ratio));
}

.c-kokokuchi-answer__btn {
  margin-block-start: 25px;
}

.c-kokuchi-answer__button-arrow {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-end: calc((42 / 486) * 100%);
  inline-size: calc((17 / 486) * 100%);
  translate: 0 -50%;
}

.c-kokuchi-answer__button-pop {
  z-index: var(--front-z-index);
  position: relative;
  display: block;
  inline-size: calc((249 / 282) * 100%);
  margin: auto;
}

.c-kokuchi-answer__button-pop-img {
  inline-size: 100%;
}

/* section heading */
.c-section-heading {
  margin: auto;
}

.c-section-heading--kokuchi {
  z-index: var(--default-z-index);
  position: relative;
  inline-size: calc(403 / var(--layout-width-sp) * 100%);
  margin: auto;
}

.c-section-heading--point {
  inline-size: calc(475 / var(--layout-width-sp) * 100%);
}

.c-section-heading--plans {
  inline-size: calc(403 / var(--layout-width-sp) * 100%);
}

.c-section-heading--qa {
  inline-size: min(calc(403 / var(--layout-width-sp) * 100%), calc(222px * 1.3));
}

.c-section-heading--shiryou {
  inline-size: min(calc(486 / var(--layout-width-sp) * 100%), calc(250px * 1.3));
}

.c-section-heading-img {
  inline-size: 100%;
}

.c-points-list {
  inline-size: 100%;
}

.c-points-list + * {
  margin-block-start: 15px;
}

.c-points-list__heading {
  z-index: var(--front-z-index);
  position: relative;
  inline-size: calc(496 / var(--layout-width-inner) * 100%);
  margin-inline-start: calc(36 / var(--layout-width-inner) * 100%);
}

.c-points-list__heading-img {
  inline-size: 100%;
}

.c-points-list__info {
  z-index: var(--default-z-index);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: calc((23 / var(--layout-width-inner)) * 100%);
  margin-block-start: -16px;
  padding: 35px calc(32 / var(--layout-width-inner) * 100%) 24px;
  border-radius: var(--rounded-frame-s);
  background: linear-gradient(-45deg, var(--common-blue) 50%, var(--shine) 60%, var(--common-blue) 70%);
  background-size: 600% 100%;
}

.c-points-list__info-icon {
  inline-size: calc((82 / 320) * 100%);
}

.c-points-list__info-text {
  flex: 1;
  font-family: var(--font-sans);
  font-size: calc(14 * var(--rem-ratio));
  font-weight: var(--font-normal);
  color: var(--color-grayscale-0);
  line-height: var(--leading-1-4);
  letter-spacing: var(--tracking-tightest);
}

.c-points-list__info-text--yellow {
  color: var(--common-yellow);
  font-weight: var(--font-bold);
}

.c-points-list__info-text--attention {
  font-size: calc(12 * var(--rem-ratio));
}

.c-points-list__info-num {
  vertical-align: text-top;
}

/* plans */
.c-plans-list {
  inline-size: calc(var(--layout-width-inner) / var(--layout-width-sp) * 100%);
  margin: auto;
  padding: 30px 0 23px;
  border-radius: var(--rounded-frame-l);
  border: 3px solid var(--common-blue);
}

.c-plans-list__profile {
  inline-size: calc(610 / var(--layout-width-inner) * 100%);
  margin: auto;
}

.c-plans-list__headline {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.c-plans-list__headline-image--1 {
  inline-size: calc((148 / 610) * 100%);
}

.c-plans-list__headline-image--2 {
  inline-size: calc((127 / 610) * 100%);
}

.c-plans-list__headline-image--3 {
  inline-size: calc((129 / 610) * 100%);
}

.c-plans-list__headline-heading {
  flex: 1;
  margin-inline-start: calc((20 / 610) * 100%);
}

.c-plans-list__headline-heading::after {
  content: '';
  display: block;
  inline-size: 100%;
  height: 4px;
  background-color: var(--common-blue);
}

.c-plans-list__headline-heading-sub {
  font-family: var(--font-sans);
  font-weight: var(--font-normal);
  font-size: calc(12 * var(--rem-ratio));
  color: var(--plans-gray);
  letter-spacing: var(--tracking-tighter);
}

.c-plans-list__headline-heading-main {
  font-family: var(--font-sans);
  font-weight: var(--font-bold);
  font-size: calc(22 * var(--rem-ratio));
  letter-spacing: 0.2em;
  color: var(--plans-gray);
}

.c-plans-list__customer {
  margin-block-start: 8px;
}

.c-plans-list__customer-line {
  display: flex;
  color: var(--plans-gray);
  line-height: var(--leading-tight);
}

.c-plans-list__customer-text {
  font-family: var(--font-sans);
  font-weight: var(--font-normal);
  font-size: calc(13 * var(--rem-ratio));
}

.c-plans-list__customer-gender {
  margin-inline-start: 16px;
}

.c-plans-list__customer-price {
  margin-inline-start: 10px;
  font-family: var(--font-sans);
  font-weight: var(--font-bold);
  font-size: calc(13 * var(--rem-ratio));
}

.c-plans-list__customer-term {
  font-family: var(--font-sans);
  font-weight: var(--font-normal);
  font-size: calc(11 * var(--rem-ratio));
  letter-spacing: var(--tracking-tighter);
}

.c-plans-list__heading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: calc(111 / var(--layout-width-sp) * 100vw);
  font-family: var(--font-sans);
  font-weight: var(--font-normal);
  font-size: calc(15 * var(--rem-ratio));
  color: var(--color-grayscale-0);
}

.c-plans-list__heading--gray {
  background-color: var(--plans-gray);
}

.c-plans-list__heading--blue {
  background-color: var(--common-blue);
}

.c-plans-list__item-plus {
  position: relative;
  inline-size: calc(19 / var(--layout-width-inner) * 100%);
  margin: 10px 0;
  margin-inline-start: calc(92 / var(--layout-width-inner) * 100%);
}

.c-plans-list__col {
  display: flex;
  gap: calc(19 / var(--layout-width-inner) * 100%);
  margin: 18px 0 0 calc(48 / var(--layout-width-inner) * 100%);
}

.c-plans-list__col:nth-child(3) {
  margin-block-start: 0;
  margin-bottom: 15px;
}

.c-plans-list__col--single {
  justify-content: center;
  gap: calc(59 / var(--layout-width-inner) * 100%);
  margin: 34px 0 43px;
}

.c-plans-list__col--one-line {
  align-items: center;
}

.c-plans-list__list-wrapper {
  inline-size: 72%;
}

.c-plans-list__list-wrap--single {
  inline-size: fit-content;
}

.c-plans-list__item {
  font-family: var(--font-sans);
  font-weight: var(--font-normal);
  font-size: calc(13 * var(--rem-ratio));
  color: var(--plans-gray);
  line-height: var(--leading-tight);
  letter-spacing: var(--tracking-tighter);
}

.c-plans-list__item-icon {
  color: var(--common-blue);
}

.c-plans-list__keiyaku-heading {
  position: relative;
  inline-size: calc(644 / var(--layout-width-inner) * 100%);
  padding: 4px 0 4px 13px;
  background-color: var(--common-yellow);
  font-size: calc(15 * var(--rem-ratio));
  font-family: var(--font-sans);
  font-weight: var(--font-semibold);
  line-height: var(--leading-tight);
}

.c-plans-list__keiyaku-heading::before,
.c-plans-list__keiyaku-heading::after {
  content: '';
  position: absolute;
  inset-inline-end: -13px;
  inline-size: 0;
  height: 0;
  border-style: solid;
}

.c-plans-list__keiyaku-heading::before {
  top: 0;
  border-color: var(--common-yellow) transparent transparent transparent;
  border-width: 17px 13px 0 0;
}

.c-plans-list__keiyaku-heading::after {
  bottom: 0;
  border-color: transparent transparent transparent var(--common-yellow);
  border-width: 17px 0 0 13px;
}

.c-plans-list__keiyaku-box--type2 {
  margin-block-start: 20px;
}

.c-plans-list__data {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-plans-list__data-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  inline-size: calc(219 / var(--layout-width-inner) * 100%);
  aspect-ratio: 1/1;
  background-color: var(--common-blue);
  border-radius: var(--rounded-full);
  text-align: center;
}

.c-plans-list__data-item--small {
  inline-size: calc(188 / var(--layout-width-inner) * 100%);
}

.c-plans-list__data-text {
  font-size: calc(15 * var(--rem-ratio));
  font-family: var(--font-sans-display);
  font-weight: var(--font-normal);
  font-feature-settings: 'palt';
  color: var(--color-grayscale-0);
  line-height: var(--leading-tight);
  letter-spacing: var(--tracking-tightest);
}

.c-plans-list__data-text--small {
  font-size: calc(13 * var(--rem-ratio));
}

.c-plans-list__data-price {
  margin-block-start: calc((8 / 114) * 100%);
  font-family: var(--font-sans);
  font-weight: var(--font-bold);
  font-size: calc(18 * var(--rem-ratio));
  color: var(--color-grayscale-0);
  line-height: var(--leading-tight);
}

.c-plans-list__data-price--small {
  font-size: calc(15 * var(--rem-ratio));
}

.c-plans-list__data-num {
  font-size: calc(23 * var(--rem-ratio));
}

.c-plans-list__data-num--small {
  font-size: calc(20 * var(--rem-ratio));
}

.c-plans-list__plus-icon {
  position: relative;
  inline-size: calc(21 / var(--layout-width-inner) * 100%);
  aspect-ratio: 1/1;
  margin: 5px 0 5px calc(94 / var(--layout-width-inner) * 100%);
}

.c-plans-list__data-plus-icon {
  inline-size: calc(43 / var(--layout-width-inner) * 100%);
  margin-inline: calc(20 / var(--layout-width-sp) * 100%);
}

.c-plans-list__data-plus-icon--small {
  inline-size: calc(30 / var(--layout-width-inner) * 100%);
  margin-inline: calc(5 / var(--layout-width-inner) * 100%);
}

.c-plans-list__catch {
  margin-block-start: 5px;
  font-family: var(--font-sans);
  font-weight: var(--font-bold);
  font-size: calc(15 * var(--rem-ratio));
  color: var(--plans-gray);
  text-align: center;
  line-height: var(--leading-tight);
}

.c-plans-list__catch--large {
  font-size: calc(30 * var(--rem-ratio));
  color: var(--common-blue);
}

.c-plans-list__catch--value {
  font-size: calc(16 * var(--rem-ratio));
  color: var(--common-blue);
}

/* qa */
.c-qa-accordion {
  inline-size: min(calc(var(--layout-width-inner) / var(--layout-width-sp) * 100%), 768px);
  margin: auto;
}

.c-qa-box {
  padding-block-end: 8px;
}

.c-qa-box:last-of-type {
  border-block-end: 2px solid var(--common-blue);
}

.c-qa-box__question {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: min(calc(15 / var(--layout-width-inner) * 100%), 8px);
  padding-top: 8px;
  padding-left: 12px;
  border-top: 2px solid var(--common-blue);
  transition: opacity 0.3s ease;
}

.c-qa-box__question-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: min(calc(38 / var(--layout-width-inner) * 100%), calc(20px * 1.5));
  aspect-ratio: 1/1;
  border-radius: var(--rounded-full);
  border: 2px solid var(--font-base);
}

.c-qa-box__question-icon-elm {
  display: block;
  inline-size: min(calc((30 / 38) * 100%), calc(14px * 1.5));
}

.c-qa-box__question-icon-img {
  inline-size: 100%;
}

.c-qa-box__question-text {
  inline-size: 75%;
  font-family: var(--font-sans);
  font-weight: var(--font-semibold);
  font-size: calc(15 * var(--rem-ratio));
  line-height: var(--leading-tight);
}

.c-qa-box__question-close {
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: calc(21 / var(--layout-width-inner) * 100%);
  inline-size: min(calc(30 / var(--layout-width-inner) * 100%), 16px);
  margin-block-start: calc(15 / var(--layout-width-inner) * 100%);
  transition: rotate 0.3s ease;
}

.c-qa-box[open] .c-qa-box__question-close {
  rotate: -135deg;
}

.c-qa-box__answer {
  display: flex;
  align-items: flex-start;
  gap: min(calc(15 / var(--layout-width-inner) * 100%), 8px);
  margin-block-start: 8px;
  padding-left: 12px;
}

.c-qa-box__answer-text {
  inline-size: 75%;
  font-family: var(--font-sans);
  font-weight: var(--font-normal);
  font-size: calc(13 * var(--rem-ratio));
  line-height: var(--leading-tight);
}

.c-qa-box__answer-text--strong {
  font-weight: var(--font-bold);
}

.c-qa-box__answer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: min(calc(38 / var(--layout-width-inner) * 100%), calc(20px * 1.5));
  aspect-ratio: 1/1;
  border-radius: var(--rounded-full);
  border: 2px solid var(--font-base);
}

.c-qa-box__answer-icon-elm {
  display: block;
  inline-size: min(calc((23 / 38) * 100%), calc(12px * 1.5));
}

.c-qa-box__answer-icon-img {
  inline-size: 100%;
}

.c-qa-box__answer-link {
  display: inline-block;
  margin-block-start: 4px;
  font-family: var(--font-sans);
  font-weight: var(--font-bold);
  font-size: calc(13 * var(--rem-ratio));
  color: var(--shiryou-btn);
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  /* freeshiryou */
  .c-freeshiryou-button {
    inline-size: calc(505 / var(--layout-width-max) * 100%);
  }

  .c-freeshiryou-button__icon {
    inline-size: calc((37 / 505) * 100%);
  }

  .c-freeshiryou-button__text {
    font-size: calc(26 / var(--layout-width-max) * 100vw);
  }

  .c-freeshiryou-button__link {
    padding: calc((20 / 505) * 100%) calc((28 / 505) * 100%);
    border-radius: var(--rounded-45);
  }

  .c-freeshiryou-button__arrow {
    inline-size: calc((15 / 505) * 100%);
  }

  /* hero */
  .c-hero-disease-list__heading {
    font-size: calc(28 / var(--layout-width-max) * 100vw);
  }

  .c-hero-disease-list__text {
    font-size: calc(22 / var(--layout-width-max) * 100vw);
  }

  /* point */
  .c-section-heading--point {
    inline-size: min(calc(475 / var(--layout-width-max) * 100%), 365px);
  }

  .c-points-list {
    inline-size: calc((320 / 1000) * 100%);
  }

  .c-points-list + * {
    margin: 0;
  }

  .c-points-list__heading {
    inline-size: calc((298 / 320) * 100%);
    margin: auto;
  }

  .c-points-list__info {
    display: block;
    margin-block-start: calc((-40 / 320) * 100%);
    padding: 0;
    padding-block: calc((48 / 320) * 100%) calc((38 / 320) * 100%);
  }

  .c-points-list__info-icon {
    inline-size: calc((132 / 320) * 100%);
    margin: auto;
  }

  .c-points-list__info-text {
    margin-block-start: calc((19 / 320) * 100%);
    padding-inline: calc((18 / 320) * 100%);
    font-size: min((18 / var(--layout-width-max) * 100vw), calc(13 * var(--rem-ratio)));
  }

  .c-points-list__info-text--attention {
    font-size: min(calc(18 / var(--layout-width-max) * 100vw), calc(13 * var(--rem-ratio)));
  }

  /* kokuchi */
  .c-section-heading--kokuchi {
    inline-size: 100%;
  }

  .c-kokuchi-question__heading {
    inline-size: calc((121 / 788) * 100%);
    margin-inline-start: calc((70 / 788) * 100%);
    padding-block: calc((7 / 788) * 100%);
    font-size: min(calc(26 / var(--layout-width-max) * 100vw), calc(20 * var(--rem-ratio)));
  }

  .c-kokuchi-question__text {
    inline-size: calc((649 / 788) * 100%);
    margin-block-start: calc((17 / 788) * 100%);
    font-size: min(calc(20 / var(--layout-width-max) * 100vw), calc(15 * var(--rem-ratio)));
  }

  .c-kokuchi-question__button-box {
    gap: calc((37 / 788) * 100%);
  }

  .c-kokuchi-question__button {
    inline-size: calc((194 / 788) * 100%);
    padding-block: calc((11 / 788) * 100%);
    font-size: min(calc(32 / var(--layout-width-max) * 100vw), calc(24 * var(--rem-ratio)));
  }

  .c-kokuchi-answer__text {
    margin-block-start: calc((34 / 788) * 100%);
    padding-inline: calc((62 / 788) * 100%);
    font-size: min(calc(24 / var(--layout-width-max) * 100vw), calc(18 * var(--rem-ratio)));
    text-align: start;
    line-height: var(--leading-normal);
  }

  .c-kokuchi-answer__text--freeshiryou {
    margin: 0;
    font-size: min(calc(42 / var(--layout-width-max) * 100vw), calc(32 * var(--rem-ratio)));
  }

  .c-kokuchi-pattern {
    margin-block-start: calc((50 / 788) * 100%);
  }

  .c-kokuchi-answer__arrow {
    inline-size: min(calc((232 / 788) * 100%), 178px);
  }

  .c-kokuchi-answer__button {
    inline-size: calc((486 / 788) * 100%);
  }

  .c-kokuchi-answer__button--free-shiryou {
    inline-size: min(calc((542 / 643) * 100%), 542px);
    margin-block-start: calc((19 / 643) * 100%);
  }

  .c-kokuchi-answer__button-link {
    font-size: min(calc(33 / var(--layout-width-max) * 100vw), calc(25 * var(--rem-ratio)));
    padding-block: calc((24 / 542) * 100%);
    border-radius: var(--rounded-56);
  }

  .c-kokuchi-answer__button-link--freeshiryou {
    margin: 0;
  }

  .c-kokuchi-answer__button-link-small {
    font-size: min(calc(30 / var(--layout-width-max) * 100vw), calc(23 * var(--rem-ratio)));
  }

  .c-kokuchi-answer__button-arrow {
    inline-size: calc((17 / 486) * 100%);
  }

  .c-kokuchi-answer__button-box {
    inline-size: calc((643 / 788) * 100%);
  }

  .c-kokuchi-answert__button-box-inner {
    padding-block: calc((30 / 643) * 100%);
  }

  /* plans */
  .c-section-heading--plans {
    inline-size: min(calc(475 / var(--layout-width-max) * 100%), 365px);
  }

  /* qa */
  .c-qa-box__question {
    align-items: center;
  }

  .c-qa-box__question-text {
    font-size: calc(19 * var(--rem-ratio));
  }

  .c-qa-box__answer-text,
  .c-qa-box__answer-link {
    font-size: calc(17 * var(--rem-ratio));
  }
}

@media (any-hover: hover) {
  .header__btn:hover,
  .c-freeshiryou-button:hover,
  .c-kokuchi-answer__button:hover {
    scale: 1.03;
  }

  .c-kokuchi-question__button:hover {
    box-shadow: none;
    translate: 3.56px 3.56px;
  }

  .c-qa-box:hover {
    cursor: pointer;
  }
}
