/* layout */
.wrapper {
  overflow: hidden;
  opacity: 0;
}

.wrapper--loaded {
  opacity: 1;
  transition: opacity 0.5s ease;
}

/* header */
.header {
  z-index: var(--menu-z-index);
  position: fixed;
  top: 0;
  inset-inline-start: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  inline-size: 100%;
  padding: 18px 14px;
  background-color: var(--background-base);
}

.header__logo {
  inline-size: 153px;
}

.header__logo-img {
  inline-size: 100%;
}

.header__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 137px;
  padding-block: 7px;
  border-radius: var(--rounded-18);
  background-color: var(--contact-button);
  color: var(--color-grayscale-0);
  font-size: calc(12 * var(--rem-ratio));
  font-family: var(--font-sans);
  font-weight: var(--font-bold);
  line-height: var(--leading-tight);
  transition: scale 0.2s ease;
}

/* float */
.l-sticky-float {
  z-index: var(--front-z-index);
  position: fixed;
  inset-block-end: 0;
  inset-inline-end: calc(27 / var(--layout-width-sp) * 100%);
  inline-size: calc(222 / var(--layout-width-sp) * 100%);
  aspect-ratio: 1/1;
  margin-block-end: calc(27 / var(--layout-width-sp) * 100%);
  background-color: var(--shiryou-button);
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.5s ease,
    visibility 0.5s ease,
    scale 0.2s ease;
}

.l-sticky-float--show {
  opacity: 1;
  visibility: visible;
}

.l-sticky-float__link {
  display: block;
}

.l-sticky-float__inner {
  margin-block-start: calc((60 / 222) * 100%);
}

.l-sticky-float__heading {
  font-size: calc(20 * var(--rem-ratio));
  text-align: center;
  color: var(--background-base);
}

.l-sticky-float__icon {
  inline-size: calc((84 / 222) * 100%);
  margin: auto;
}

.l-sticky-float__pop {
  position: absolute;
  inset-block-start: 0;
  inset-inline: 0;
  inline-size: calc((161 / 222) * 100%);
  margin: auto;
}

/* hero */
.l-section-hero {
  z-index: var(--default-z-index);
  position: relative;
  margin-block-start: 49px;
}

.l-section-hero__inner {
  z-index: var(--default-z-index);
  position: relative;
  padding-block-end: calc(24 / var(--layout-width-sp) * 100%);
}

.l-section-hero__inner::before {
  content: '';
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  display: block;
  inline-size: 100vw;
  block-size: 100%;
  background: url('../images/hero-bg-sp.jpg') no-repeat center / cover;
}

.l-section-hero__content {
  position: relative;
  inline-size: 100%;
  margin: auto;
}

.l-section-hero__title {
  z-index: var(--front-z-index);
  position: absolute;
  top: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  margin-block-start: calc(60 / var(--layout-width-sp) * 100%);
}

.l-section-hero__title-pop {
  z-index: var(--default-z-index);
  position: relative;
  inline-size: calc(438 / var(--layout-width-sp) * 100%);
  margin-block-start: 11%;
  margin-inline-start: 20%;
  scale: 1.5;
}

.l-section-hero__title-pop--loaded {
  margin-block-start: 0;
  margin-inline-start: calc(32 / var(--layout-width-sp) * 100%);
  scale: 1;
  transition:
    margin 0.9s cubic-bezier(0.65, 0.05, 0.36, 1),
    scale 0.9s 0.9s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition-delay: 1.2s;
}

.l-section-hero__title-pop-elm {
  display: block;
  opacity: 0;
  translate: 0 15px;
}

.l-section-hero__title-pop-elm-img {
  inline-size: 100%;
}

.l-section-hero__title-pop-elm--loaded {
  opacity: 1;
  translate: 0 0;
  transition:
    opacity 0.4s ease 0.3s,
    translate 0.4s cubic-bezier(0, 0.89, 0.63, 1.47) 0.3s;
}

.l-section-hero__title-main {
  position: relative;
  margin-block-start: calc(-73 / var(--layout-width-sp) * 100%);
  opacity: 0;
  scale: 0.7;
}

.l-section-hero__title-main--loaded {
  opacity: 1;
  scale: 1;
  transition:
    opacity 0.9s cubic-bezier(0.65, 0.05, 0.36, 1),
    scale 0.9s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition-delay: 1.2s;
}

.l-section-hero__title-main-word {
  display: block;
  inline-size: calc(680 / var(--layout-width-sp) * 100%);
  margin: auto;
}

.l-section-hero__title-main-flash {
  position: absolute;
  top: 0;
  display: block;
  opacity: 0;
}

.l-section-hero__title-main-flash--top {
  inset-inline-end: calc(116 / var(--layout-width-sp) * 100%);
  inline-size: calc(27 / var(--layout-width-sp) * 100%);
  margin-block-start: calc(27 / var(--layout-width-sp) * 100%);
}

.l-section-hero__title-main-flash--top--loaded {
  opacity: 1;
  transition: opacity 0s steps(1) 2.1s;
}

.l-section-hero__title-main-flash--center {
  inset-inline-end: calc(75 / var(--layout-width-sp) * 100%);
  inline-size: calc(55 / var(--layout-width-sp) * 100%);
  margin-block-start: calc(33 / var(--layout-width-sp) * 100%);
}

.l-section-hero__title-main-flash--center--loaded {
  opacity: 1;
  transition: opacity 0s steps(1) 2.4s;
}

.l-section-hero__title-main-flash--bottom {
  inset-inline-end: calc(74 / var(--layout-width-sp) * 100%);
  inline-size: calc(46 / var(--layout-width-sp) * 100%);
  margin-block-start: calc(67 / var(--layout-width-sp) * 100%);
}

.l-section-hero__title-main-flash--bottom--loaded {
  opacity: 1;
  transition: opacity 0s steps(1) 2.7s;
}

.l-section-hero__title-main-flash-img {
  inline-size: 100%;
}

.l-section-hero__image {
  z-index: var(--default-z-index);
  position: relative;
  inline-size: calc(610 / var(--layout-width-sp) * 100%);
  margin-inline-start: calc(90 / var(--layout-width-sp) * 100%);
  padding-block-start: calc(270 / var(--layout-width-sp) * 100%);
}

.l-section-hero__disease {
  z-index: var(--front-z-index);
  position: absolute;
  inset-block-end: 0;
  inset-inline-start: 50%;
  inline-size: calc(var(--layout-width-inner) / var(--layout-width-sp) * 100%);
  margin: auto;
  padding-block: 12px;
  background-color: var(--background-base);
  border: 3px solid var(--common-blue);
  border-radius: var(--rounded-frame-s);
  box-shadow: 3px 4px 4px 0 rgb(0 0 0 / 25%);
  translate: -50%;
}

.l-section-hero__disease-heading {
  inline-size: calc(388 / var(--layout-width-inner) * 100%);
  margin: auto;
}

.l-section-hero__disease-heading::after {
  content: '';
  display: block;
  inline-size: 100%;
  block-size: 2px;
  margin-block-start: 4px;
  background-color: var(--common-blue);
  border-radius: var(--rounded-heading);
}

.l-section-hero__disease-heading-img {
  inline-size: 100%;
}

.l-section-hero__disease-list-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(28 / var(--layout-width-sp) * 100%);
  margin-block-start: 14px;
}

.l-section-hero__button {
  padding-block: 15px 18px;
  background-color: var(--common-blue);
}

/* top message */
.l-section-topmessage {
  z-index: var(--default-z-index);
  position: relative;
  inline-size: calc(473 / var(--layout-width-sp) * 100%);
  margin: auto;
  padding-block-start: calc(78px / 2);
}

/* kokuchi */
.l-section-kokuchi {
  z-index: var(--default-z-index);
  position: relative;
  padding-block: 48px 55px;
  background-color: var(--background-yellow);
}

.l-section-kokuchi__heading-wrapper {
  z-index: var(--front-z-index);
  position: relative;
}

.l-section-kokuchi__headline {
  z-index: var(--default-z-index);
  position: relative;
  inline-size: calc(536 / var(--layout-width-sp) * 100%);
  margin: calc(30 / var(--layout-width-sp) * 100%) auto 0;
}

.l-section-kokuchi__pop {
  z-index: var(--front-z-index);
  position: absolute;
  top: 0;
  inset-inline-start: calc((54 / var(--layout-width-sp)) * 100%);
  inline-size: calc((128 / var(--layout-width-sp)) * 100%);
  margin-block-start: calc((62 / var(--layout-width-sp)) * 100%);
  opacity: 0;
  transform: scale(0.5);
  transform-origin: right bottom;
}

.l-section-kokuchi__pop-img {
  inline-size: 100%;
}

.l-section-kokuchi__qa-wrapper {
  z-index: var(--default-z-index);
  position: relative;
  inline-size: calc(var(--layout-width-inner) / var(--layout-width-sp) * 100%);
  margin: 17px auto 0;
}

.l-section-kokuchi__qa {
  padding: 36px 0 30px;
  background-color: var(--background-base);
  border: 3px solid var(--common-blue);
  border-radius: var(--rounded-frame-l);
}

.l-section-kokuchi__attention {
  margin-block-start: 9px;
  font-family: var(--font-sans-display);
  font-weight: var(--font-normal);
  font-size: calc(9 * var(--rem-ratio));
  line-height: var(--leading-1-4);
}

/* points */
.l-section-points {
  z-index: var(--default-z-index);
  position: relative;
  padding-block: 40px;
}

.l-section-points__inner {
  inline-size: calc(var(--layout-width-inner) / var(--layout-width-sp) * 100%);
  margin: 14px auto 0;
}

.l-section-points__attention {
  margin-block-start: 14px;
  font-family: var(--font-sans-display);
  font-size: calc(9 * var(--rem-ratio));
  font-weight: var(--font-normal);
}

.l-section-plans__list-wrapper {
  margin: 5px auto 0;
}

.l-section-plans__slide {
  inline-size: calc(692 / var(--layout-width-sp) * 100%);
  margin: auto;
}

.l-section-plans__slide-img {
  inline-size: 100%;
}

/* swiper */
.swiper-parts-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  inline-size: calc(381 / var(--layout-width-sp) * 100%);
  margin: 20px auto 0;
  padding-bottom: 3px;
}

.js-swiper-pagination {
  display: flex;
  justify-content: center;
  position: static;
}

.js-swiper-bullet {
  display: block;
  inline-size: calc((20 / var(--layout-width-sp)) * 100vw);
  aspect-ratio: 1/1;
  background-color: var(--parts);
  border-radius: var(--rounded-full);
  opacity: 1;
}

.js-swiper-bullet:nth-of-type(2) {
  margin: 0 10px;
}

.js-swiper-bullet-active {
  background-color: var(--common-blue);
}

.swiper-button-next,
.swiper-button-prev {
  position: static;
  width: auto;
  height: auto;
  inline-size: calc((35 / 381) * 100%);
  margin: 0;
  transition:
    scale 0.2s ease,
    transform 0.2s ease;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: none;
}

/* plans */
.l-section-plans {
  z-index: var(--default-z-index);
  position: relative;
  margin-block-start: calc(98px / 2);
}

/* bottom message */
.l-section-bottom-message {
  z-index: var(--default-z-index);
  position: relative;
  margin-block-start: 40px;
}

.l-section-bottom-message__heading {
  z-index: var(--default-z-index);
  position: relative;
}

.l-section-bottom-message__heading-bg {
  z-index: var(--default-z-index);
  position: relative;
  inline-size: calc(613 / var(--layout-width-sp) * 100%);
  margin: auto;
  scale: 0;
}

.l-section-bottom-message__heading-text {
  z-index: var(--front-z-index);
  position: absolute;
  top: 50%;
  inset-inline-start: 50%;
  inline-size: calc(446 / var(--layout-width-sp) * 100%);
  clip-path: inset(0 100% 0 0);
  translate: -50% -50%;
}

.l-section-bottom-message__heading-text-img {
  inline-size: 100%;
}

.l-section-bottom-message__image {
  z-index: var(--front-z-index);
  position: relative;
  inline-size: calc(392 / var(--layout-width-sp) * 100%);
  margin: calc(-84 / var(--layout-width-sp) * 100%) auto 0;
}

/* qa */
.l-section-qa {
  z-index: var(--default-z-index);
  position: relative;
  margin-block-start: 50px;
}

/* shiryou */
.l-section-shiryou {
  z-index: var(--default-z-index);
  position: relative;
  margin-block-start: 50px;
}

/* footer */
.footer {
  z-index: var(--default-z-index);
  position: relative;
  padding-bottom: 10px;
  margin-block-start: 50px;
}

.footer__inner {
  padding: 46px 0 20px;
  background-color: var(--common-blue);
}

.footer__tel-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: calc(36 / var(--layout-width-inner) * 100%);
  inline-size: min(calc(557 / var(--layout-width-inner) * 100%), 366px);
  padding-block: 18px 10px;
  margin: auto;
  background-color: var(--background-base);
  box-shadow:
    inset -3.09px -3.09px 4.11px 0 rgb(200 200 199 / 100%),
    0 4.11px 4.11px 0 rgb(0 0 0 / 50%);
  border-radius: var(--rounded-sl);
}

.footer__tel-button-icon {
  inline-size: calc((40 / 557) * 100%);
  margin-block-start: calc((10 / 557) * 100%);
}

.footer__tel-button-info {
  text-align: center;
}

.footer__tel-button-info-num {
  font-weight: var(--font-bold);
  font-size: calc(24 * var(--rem-ratio));
  color: var(--common-blue);
  letter-spacing: var(--tracking-normal);
  line-height: var(--leading-tight);
}

.footer__tel-button-info-time {
  font-weight: var(--font-normal);
  font-size: calc(16 * var(--rem-ratio));
  color: var(--common-blue);
  letter-spacing: var(--tracking-tight);
}

.footer__textarea {
  inline-size: min(100%, calc(360px * 1.4));
  margin: auto;
}

.footer__links {
  margin-block-start: 35px;
  padding: 0 20px;
}

.footer__links-list-item {
  font-family: var(--font-sans-display);
  font-weight: var(--font-normal);
  font-size: calc(13 * var(--rem-ratio));
  color: var(--color-grayscale-0);
  line-height: var(--leading-1-4);
  letter-spacing: var(--tracking-tighter);
}

.footer__links-list-item + * {
  margin-block-start: 18px;
}

.footer__links-list-item-text-link {
  display: inline-block;
  border-bottom: 1px solid var(--color-grayscale-0);
  transition: border-bottom 0.2s ease;
}

.footer__textlink {
  display: inline-block;
  margin-block-start: 47px;
  margin-inline-start: 20px;
  border-bottom: 1px solid var(--color-grayscale-0);
  font-family: var(--font-sans-display);
  font-weight: var(--font-normal);
  font-size: calc(11 * var(--rem-ratio));
  color: var(--color-grayscale-0);
  line-height: var(--leading-1-1);
  transition: border-bottom 0.2s ease;
}

.footer__num {
  margin-inline-start: 20px;
  font-family: var(--font-sans-display);
  font-weight: var(--font-normal);
  font-size: calc(11 * var(--rem-ratio));
  color: var(--color-grayscale-0);
}

.footer__copyright {
  margin-block-start: 10px;
  font-family: var(--font-sans-display);
  font-weight: var(--font-normal);
  font-size: calc(11 * var(--rem-ratio));
  color: var(--shiryou-button);
  line-height: var(--leading-tight);
  text-align: center;
}

@media screen and (min-width: 768px) {
  /* header */
  .header {
    padding: calc(20px / 2) calc(30 / var(--layout-width-max) * 100%);
  }

  .header__logo {
    inline-size: calc(456px / 2);
  }

  .header__shiryou-button {
    inline-size: calc(243px / 2);
  }

  .header__shiryou-button-link {
    display: block;
    inline-size: 100%;
    padding-block: 5.5px;
    background-color: var(--shiryou-button);
    border-radius: var(--rounded-frame-s);
    font-size: calc(11 * var(--rem-ratio));
    text-align: center;
    color: var(--background-base);
    transition: scale 0.2s ease;
  }

  .header__shiryou-button-link-small {
    font-size: calc(9 * var(--rem-ratio));
  }

  /* sticky */
  .l-sticky-float {
    inset-inline-end: calc(24 / var(--layout-width-max) * 100%);
    inline-size: min(calc(336 / var(--layout-width-max) * 100%), 258px);
    aspect-ratio: auto;
    margin-block-end: calc(24 / var(--layout-width-max) * 100%);
    border-radius: min(var(--rounded-l), var(--rounded-23));
  }

  .l-sticky-float__link {
    padding-block: calc((28 / 336) * 100%);
  }

  .l-sticky-float__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .l-sticky-float__icon {
    order: 1;
    inline-size: calc((49 / 336) * 100%);
    margin: 0;
  }

  .l-sticky-float__heading--pc {
    order: 3;
    margin-inline: calc((16 / 336) * 100%) calc((12 / 336) * 100%);
  }

  .l-sticky-float__heading {
    font-size: min(calc(23 / var(--layout-width-max) * 100vw), calc(17 * var(--rem-ratio)));
  }

  .l-sticky-float__heading-small {
    font-size: min(calc(17 / var(--layout-width-max) * 100vw), calc(13 * var(--rem-ratio)));
  }

  .l-sticky-float__arrow {
    order: 3;
    inline-size: calc((11 / 336) * 100%);
  }

  .l-sticky-float__pop {
    inset-inline-start: calc((2 / 336) * 100%);
    inline-size: calc((113 / 336) * 100%);
    margin: 0;
    margin-block-start: calc((-20 / 336) * 100%);
  }

  /* hero */
  .l-section-hero {
    margin-block-start: 49.7px;
  }

  .l-section-hero__inner {
    padding-block-end: 0;
  }

  .l-section-hero__inner::before {
    background-image: url('../images/hero-bg-pc.jpg');
  }

  .l-section-hero__title {
    inset-inline-start: calc(217 / var(--layout-width-max) * 100%);
    inline-size: calc(572 / var(--layout-width-max) * 100%);
    margin-block-start: calc(77 / var(--layout-width-max) * 100%);
  }

  .l-section-hero__title-pop {
    inline-size: calc((369 / 572) * 100%);
    margin-inline-start: 17%;
  }

  .l-section-hero__title-pop--loaded {
    margin-inline-start: calc((-7 / 572) * 100%);
  }

  .l-section-hero__title-main-word {
    inline-size: 100%;
  }

  .l-section-hero__title-main-flash--top {
    inline-size: calc((23 / 572) * 100%);
    inset-inline-end: calc((69 / 572) * 100%);
    margin-block-start: calc((20 / 572) * 100%);
  }

  .l-section-hero__title-main-flash--center {
    inline-size: calc((47 / 572) * 100%);
    inset-inline-end: calc((34 / 572) * 100%);
    margin-block-start: calc((28 / 572) * 100%);
  }

  .l-section-hero__title-main-flash--bottom {
    inline-size: calc((38 / 572) * 100%);
    inset-inline-end: calc((34 / 572) * 100%);
    margin-block-start: calc((57 / 572) * 100%);
  }

  .l-section-hero__image {
    z-index: var(--front-z-index);
    inline-size: calc(505 / var(--layout-width-max) * 100%);
    margin-inline-start: calc(798 / var(--layout-width-max) * 100%);
    padding-block-start: calc(66 / var(--layout-width-max) * 100%);
  }

  .l-section-hero__disease {
    z-index: var(--default-z-index);
    inset-inline-start: calc(217 / var(--layout-width-max) * 100%);
    inline-size: calc(633 / var(--layout-width-max) * 100%);
    margin-block-end: calc(52 / var(--layout-width-max) * 100%);
    padding-block: calc(27 / var(--layout-width-max) * 100%);
    translate: 0;
  }

  .l-section-hero__disease-heading {
    inline-size: calc((352 / 633) * 100%);
  }

  .l-section-hero__disease-list-wrapper {
    gap: calc((18 / 633) * 100%);
    margin-block-start: calc((20 / 633) * 100%);
  }

  .l-section-hero__button {
    z-index: var(--front-z-index);
    position: relative;
    margin-block-start: -1.3%;
    padding-block: calc(22 / var(--layout-width-max) * 100%);
  }

  /* top message */
  .l-section-topmessage {
    inline-size: min(calc(473 / var(--layout-width-max) * 100%), 363px);
    padding-block-start: calc(64 / var(--layout-width-max) * 100%);
  }

  /* points */
  .l-section-points {
    padding-block: calc(40 / var(--layout-width-max) * 100%) calc(55 / var(--layout-width-max) * 100%);
  }

  .l-section-points__inner {
    inline-size: min(calc(1000 / var(--layout-width-max) * 100%), 769px);
  }

  .l-section-points__list-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .l-section-points__attention {
    margin-block-start: calc((12 / 1000) * 100%);
    font-size: min(calc(14 / var(--layout-width-max) * 100vw), calc(10 * var(--rem-ratio)));
  }

  /* kokuchi */
  .l-section-kokuchi {
    padding-block: calc(100 / var(--layout-width-max) * 100%) calc(74 / var(--layout-width-max) * 100%);
  }

  .l-section-kokuchi__headline {
    inline-size: min(calc(660 / var(--layout-width-max) * 100%), 507px);
    margin-block-start: calc(12 / var(--layout-width-max) * 100%);
  }

  .l-section-kokuchi__heading-wrapper {
    inline-size: min(calc(397 / var(--layout-width-max) * 100%), 305px);
    margin: auto;
  }

  .l-section-kokuchi__pop {
    inset-inline-start: calc((-64 / 397) * 100%);
    inline-size: min(calc((128 / 397) * 100%), calc(128px / 1.3));
    margin-block-start: calc((-31 / 397) * 100%);
  }

  .l-section-kokuchi__qa-wrapper {
    inline-size: min(calc(788 / var(--layout-width-max) * 100%), 606px);
    margin-block-start: calc(24 / var(--layout-width-max) * 100%);
  }

  .l-section-kokuchi__qa {
    padding-block: calc((36 / 788) * 100%);
  }

  .l-section-kokuchi__attention {
    margin-block-start: calc((18 / 788) * 100%);
    font-size: min(calc(14 / var(--layout-width-max) * 100vw), calc(10 * var(--rem-ratio)));
    letter-spacing: var(--tracking-tight);
  }

  /* plans */
  .l-section-plans {
    margin-block-start: calc(125 / var(--layout-width-max) * 100%);
  }

  .l-section-plans__list-wrapper {
    margin-block-start: calc(10 / var(--layout-width-max) * 100%);
  }

  .l-section-plans__slide {
    inline-size: min(calc(1001 / var(--layout-width-max) * 100%), 770px);
  }

  /* swiper */
  .swiper-parts-wrapper {
    inline-size: min(calc(381 / var(--layout-width-max) * 100%), 293px);
    margin-block-start: calc(35 / var(--layout-width-max) * 100%);
  }

  .swiper-button-prev {
    inline-size: min(calc((35 / 381) * 100%), 26.9px);
  }

  .swiper-button-next {
    inline-size: min(calc((35 / 381) * 100%), 26.9px);
  }

  .js-swiper-bullet {
    inline-size: min(calc(21 / var(--layout-width-max) * 100vw), 16.15px);
  }

  .js-swiper-bullet:nth-of-type(2) {
    margin-inline: min(calc(23 / var(--layout-width-max) * 100vw), 17.6px);
  }

  /* message */
  .l-section-bottom-message {
    margin-block-start: calc(77 / var(--layout-width-max) * 100%);
  }

  .l-section-bottom-message__heading-bg {
    inline-size: calc(445 / var(--layout-width-max) * 100%);
  }

  .l-section-bottom-message__heading-text {
    inline-size: calc(324 / var(--layout-width-max) * 100%);
  }

  .l-section-bottom-message__image {
    inline-size: calc(285 / var(--layout-width-max) * 100%);
    margin-block-start: calc(-67 / var(--layout-width-max) * 100%);
  }

  /* qa */
  .l-section-qa {
    margin-block-start: calc(100 / var(--layout-width-max) * 100%);
  }

  /* footer */
  .footer__tel-button {
    pointer-events: none;
    inline-size: 366px;
  }

  .footer__tel-button-icon {
    inline-size: 25px;
  }

  .footer__tel-button-info-num {
    font-size: calc(31 * var(--rem-ratio));
  }

  .footer__tel-button-info-time {
    font-size: calc(21 * var(--rem-ratio));
  }
}

@media (any-hover: hover) {
  .header__shiryou-button-link:hover {
    scale: 1.03;
  }

  .l-sticky-float:hover {
    scale: 1.03;
  }

  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    scale: 1.2;
  }

  .footer__links-list-item-text-link:hover,
  .footer__textlink:hover {
    border-color: transparent;
  }
}
